[2013-03-23 03:13] duellsy opened #1 "Return a name instead of an ID"
In cases where an ID was updated (e.g., foreign key), there needs to be an easy way to say the 'user' was updated, not `user_id` updated

Additionally, should be able to display the name of the referenced item, e.g., instead of saying that `1 changed to 2`, it should allow you to say something like

`User changed from Chris to Matt`

[2013-03-28 11:25] #1 closed, assigned to duellsy

[2013-03-28 11:35] duellsy opened #2 "Create tests"
There's currently no tests, need to make some and setup the package to auto validate via travis-ci

[2013-03-28 11:36] duellsy opened #3 "Support for fields other than text / string / integer"
This has only been tested on a few field types so far, need to do more testing and provide support for any field types that cause errors.

[2013-03-28 13:05] duellsy opened #4 "Provide pre-formatted history string"
Instead of forcing people to write out their own history, provide both the breakdown methods so they can still do this, but also a pre-formatted full string.

[2013-03-29 00:29] duellsy opened #5 "Ability to format field value"
To be used in cases of boolean values, instead of having

`Chris changed public from 0 to 1`

Should be able to display something like

`Chris changed public from no to yes`

[2013-03-30 00:51] duellsy opened #6 "Remove ardent as requirement"
The new Laravel Eloquent events provide everything that is needed, so instead of requiring a third party package, just make use of the the new events.

http://four.laravel.com/docs/eloquent#model-events

[2013-03-31 23:50] #6 closed, assigned to nobody

[2013-04-01 06:04] duellsy opened #7 "Keep revision history of only certain fields in the model"
Allow user control over the fields that are tracked in the revision history by providing two arrays for them to maintain.

[2013-04-01 06:04] #7 closed, assigned to duellsy

[2013-04-01 08:44] #5 closed, assigned to nobody

[2013-04-03 23:37] duellsy opened #8 "Use getDirty instead of trying to find dirty data manually"
Eloquent offers a method getDirty(), this can be used instead of doing the whole before / after comparison stuff

[2013-04-08 04:57] #8 closed, assigned to duellsy

[2013-04-08 05:08] duellsy opened #9 "Issue with calling identifiableName on a model that doesn't have the method defined"
There isn't a way to have a base method that gets overridden, so should use something like

[code]

[2013-04-08 05:17] #9 closed, assigned to duellsy

[2013-04-09 08:49] bastuijnman opened #10 "Migrations break"
You should rename the migration file, as it breaks in (at least) the latest version of the Laravel framework.

the resolve file method in Migrator.php slices the first four (date values) of the filename, causing the create_revisionstable.php migration to fail, as Laravel thinks the filname is an empty string.

[2013-04-09 09:01] #10 closed, assigned to duellsy

[2013-04-16 13:00] th3hamburgler opened #11 "History of a foreign key changing from null to a value triggers exception"
[code]

_Revision.php line 62_ returns null, not an object when old_value is null.
Same issue will happen when changing a foreign key from a value to null at line 88.

[2013-04-16 23:40] #11 closed, assigned to duellsy

[2013-04-17 13:49] th3hamburgler opened #12 "Exceptions when saving relationships in seed files"
I came across two exceptions when running a seed script. Both occur in the afterSave method.

The first is an undefined index Revisionable.php line 112. Occurs because the originalData array does not contain the new items key.

The second is trying to get property of non-object on line 114. Auth::user() will return null as no User will be present when running seed files via artisan.

[2013-04-17 14:00] #12 closed, assigned to nobody

[2013-05-13 17:13] JonoB opened #14 "Batch inserts"
At the moment, it seems that each attribtue change in a model results in a separate query being run

[code]

If only a few attributes were changed, then this is fine. However, if there are a large number of attributes, then its much better to do a batch insert.

I would suggest moving all saves to using the QueryBuilder's batch insert method (http://four.laravel.com/docs/queries#inserts).

[2013-06-14 04:39] arenowebdev opened #16 "Boolean always get an entry in history..."
If I submit a form with a single string change on it, no matter what the boolean field value is set to (even if it's the same), I always gets an entry in the revisions table. See below. Am I just doing something wrong, or did I stumble across a bug? At first I thought it was a false vs. 0 issue, but even when I change the value to 0 when setting the boolean flag, I still see the result in the data

[2013-06-14 06:04] #16 closed, assigned to nobody

[2013-07-11 05:12] Flynsarmy opened #17 "Trait please"
Could we also get a Revisionable trait for those of us already extending our models?

[2013-07-28 12:08] mmodler opened #18 "Foreign key problem with namespaced Models"
Hi,

first of all thanks for the revisionable package, saving me hours of work!

I made most of my namspaced models "revisionable" and everything works fine. Bit if i try to get the oldValue() from a foreign key relation, Class "myrelatedmodel" can't be found. If i look in Revision.php line 72, i know why:

[code]

This  will try to get myrelatedmodel, not App/Models/myrelatedmodel.

I don't know

[2013-08-01 23:42] #17 closed, assigned to nobody

[2013-08-07 02:23] #14 closed, assigned to duellsy

[2013-08-07 06:26] mmodler opened #19 "Overwriting of $revisionNullString and $revisionUnknownString"
Hi,

i have overwritten $revisionNullString and $revisionUnknownString in my models like described in the readme, but i still get the default strings.

$revisionNullString and $revisionUnknownString belong to "Revision", app models extend "Revisionable", so overwriting can't work atm?

Or is it my fault :)

[2013-08-07 06:56] mmodler opened #20 "Getting single revision out of revisionHistory"
Hi,

in my app i generate a list out with revisionHistory without oldValue and newValue to keep it clean.

I offer a revision details modal where i load the details with ajax. Is there a smarter way to load one revision by revision_id (with working relations) than this:

`$revision = $modelfull::find($id)->revisionHistory->find($revision_id)`

I think this is much overhead? If there is no better w

[2013-08-07 06:58] #20 closed, assigned to nobody

[2013-08-07 08:54] #19 closed, assigned to duellsy

[2013-08-07 08:57] mmodler opened #21 "Revisionable and Mutators"
Hi,

one of my revisionable models has some mutators like getPriceAttribute / setPriceAttribute.

Revisionable's oldValue / newValue irgnores my getter and returns the raw price atrribute?

[2013-08-07 09:11] #18 closed, assigned to duellsy

[2013-08-07 13:01] #21 closed, assigned to duellsy

[2013-09-25 15:58] Garbee opened #22 "User responsible not saved if the user model is in a namespace."
The User model is [hard-coded](https://github.com/VentureCraft/revisionable/blob/master/src/Venturecraft/Revisionable/Revision.php#L158) to be in the root namespace. This means that if someone namespaces their model like `namespace App\Models;` It will fail to save the user id. The model to use should be put into a configuration file that way people can publish it and change to suite their needs w

[2013-09-30 10:34] #22 closed, assigned to duellsy

[2013-10-04 17:54] DaveBagler opened #23 "What changes (if any) need to be made to existing tables?"
I've been looking to revision data in a new project and I think that this will work wonderfully but I was wondering what (if any) changes I need to make to my existing database tables to support revisioning?

I looked through the issue queue and read the read me and I didn't see anything about this but I could have just missed it so I apologize if the information on this is already available.

[2013-10-04 22:44] #23 closed, assigned to nobody

[2013-11-18 13:45] stokic opened #24 "Laravel 4.1 and Illuminate/Support 4.1"
Laravel 4.1 release is just around the corner so I think it would be a good idea to change the requirement of Illuminate/Support to 4.1.x:

https://github.com/laravel/framework/blob/master/src/Illuminate/Support/composer.json

otherwise composer wont be able to resolve dependencies...

Thanks!

[2013-11-21 00:13] #24 closed, assigned to nobody

[2013-12-03 01:44] landjea opened #26 "Create / Destroy"
Before I log this as an issue, is this package supposed to also log create / destroy hits on the model or is it only firing for updates? The event seems to be firing on ->save() but  when I create a new object, nothing is logged.

[2013-12-03 01:50] #26 closed, assigned to nobody

[2014-01-09 22:12] jveldboom opened #27 "Use Cartalyst Sentry user id"
We're using Sentry to handle our users. It would be great there was an option to use Sentry's user id instead of Laravel's built it one.

I know what needs to be changed, but I'm just not sure how to make it easily configurable for others.

[Line #120](https://github.com/VentureCraft/revisionable/blob/master/src/Venturecraft/Revisionable/Revisionable.php#L120) would be replaced with the following:

[2014-02-17 22:55] carcinocron opened #31 "Is this compatible with Carbon? If so, how?"
All of my timestamps are automatically turns into Carbon objects, I was wondering if this worked seemlessly with Carbon.

[2014-02-17 22:56] #31 closed, assigned to nobody

[2014-02-18 17:48] Antonimo opened #32 "Revisionable Pivot"
maybe you can implement this like said in here:
http://forumsarchive.laravel.io/viewtopic.php?id=10935

[quote]
There is no real support for it, as there is no real pivot model.
There is though a model-like object Pivot, which you can bound a listener to, but it will fire for any pivot, not just the one you want.
It is equal to: Event::listen('eloquent.saving: Pivot', $callback).
What you could do

[2014-02-18 22:44] #32 closed, assigned to nobody

[2014-02-19 17:28] Antonimo opened #33 "'updating' is Model method"
please use different flag
and i dont really see the point.
just use $this->exists

if ($this->revisionEnabled AND $this->exists) {
...

[2014-02-19 21:18] #33 closed, assigned to nobody

[2014-02-19 22:33] #27 closed, assigned to nobody

[2014-02-21 07:12] slovenianGooner opened #35 "Display revision log for all"
It would be great if you provided a method to output all of the revision logs for a specific model. I would like to output all revisions to a table. I can do that now with a custom query, but it would be nice to output in a way that is "Laravel" friendly :)

[2014-02-22 17:17] antonioribeiro opened #36 "Support inheriting from any other Eloquent implementation"
If I'm using Ardent, which is derived from Eloquent, how could I also use Revisionable, since PHP doesn't support multiple inheritances.

Would be great if we could set the class from which Revisionable 'inherits' from or is 'created from' internally, so we could use any other implementation of Eloquent with the package.

[2014-02-22 21:45] #35 closed, assigned to nobody

[2014-02-26 23:52] cjke opened #37 "Related models with multiple word attributes throws error at line 105 in Revision.php"
Let's say I have a model with the following revision rules:

[code]

On the model, I would also have:

[code]

[2014-02-27 02:12] #37 closed, assigned to nobody

[2014-03-03 23:21] #36 closed, assigned to duellsy

[2014-03-14 16:54] carcinocron opened #45 "Trait Mode Not Working?"
I can swap out `Eloquent` for `Revisionable` and add `use Venturecraft\Revisionable\Revisionable;` to the top and it works, but in trait mode it doesn't record my revision history. Existing revision history recorded in extend mode is still accessible. How would I go about debugging this?

from composer:

[code]

from models/User.php

[code]

[2014-03-18 20:48] ramesh-tr opened #46 "Not keeping the revision history of soft deletion"
It is not keeping a history of soft deletions, but showing a revision up on revert.

[2014-03-18 22:31] #45 closed, assigned to nobody

[2014-03-25 04:22] tomschlick opened #49 "Unique ID of revision?"
Is there any way to get the unique ID(s) of a revision? I'm trying to link exact changes to an existing activity feed module. I realize I could query after the update but that leaves the possibility of a race condition.

From what I've seen its not built in currently but my guess is that there would have to be some kind of "batch id" in the case of multiple fields being updated at once and that id

[2014-03-25 04:23] #49 closed, assigned to nobody

[2014-04-03 01:55] #46 closed, assigned to duellsy

[2014-04-11 15:16] robsoncombr opened #55 "Defect with revisionHistory ?"
Hello,

Please, I need some assistance here, not sure if this can be a defect.

I select my objects based on its owner, becase I have a 'multiple-user-shared' database, so it is a hasMany relationship.

Also, I'm using Ardent, so I'm including/using Revisionable as Traits.

When I run:
    foreach (Auth::user()->db_owner()->coreusers as $coreuser)
    {
        echo "<br>Changes for user: ".$coreu

[2014-04-23 09:58] grafikkaos opened #56 "Reverting to a previous revision"
With this package, is it possible to revert to a selected revision?

[2014-04-23 09:59] #56 closed, assigned to nobody

[2014-04-24 02:12] robsoncombr opened #57 "Enhancement Request: Formatted Output for Fields Name"
As we have the option to format the output regarding the field values, it would be a very nice idea to have the option to format the field name output.

For example, we could define something like:
     protected $revisionFormattedFieldsName = array(
         'title'  => 'Title',
         'small_name' => 'Nickname'
         'deleted_at' => 'Deleted At'
     );

So when we call, $history->fieldName

[2014-04-25 07:10] max-online opened #58 "Multiple database queries when using userResponsible"
Is there some way to eager load the username when using Revisionable to get the userResponsible for the revision?
(By the way: I am using Sentry)

[2014-05-05 09:19] tochie-daniels opened #59 "Error: Class 'app\models\Eloquent' not found"
Hi, I don't know if this is the right place for this. Kindly pardon my ignorance if so.

My problem is...I have installed the package per the instructions in my Laravel 4. I get the following error:

[code]

when i use based on the new, trait based implementation like this:

[code]

Please what could be the issue here?

[2014-05-05 11:36] #59 closed, assigned to nobody

[2014-05-13 18:54] robsoncombr opened #60 "How can we handle Sync / Detach?"
Hello,

I'm using Revisionable for some time now, and I still didn't find a way to keep history from Sync or Detach calls, when you have ManyToMany, where a third table is created to hold the relations and there is no Model for it Revisionable does not detect the sync/detach changes.

Anybody has any idea on a workaround to keep track on this?

Maybe something to be implemented so this become an E

[2014-05-13 21:18] #60 closed, assigned to nobody

[2014-05-18 02:28] #55 closed, assigned to nobody

[2014-05-18 02:29] #57 closed, assigned to duellsy

[2014-06-20 13:07] tommy7600 opened #63 "Add possibility to add revision when we change something with many-to-many relationship."
Add possibility to add revision when we change something with many-to-many relationship.

[2014-06-22 17:47] nesk opened #64 "Get the model state by providing a revision ID"
Is there any way to retrieve all the values for a model at a specified revision ? To make it simple, I would like to checkout a model on a revision (like you would checkout a repository on a commit with Git).

If it's not possible, is it planned for the v2 ?

[2014-06-23 00:26] #64 closed, assigned to nobody

[2014-07-07 16:25] SuperlativeEntity opened #65 "way/database package support"
Possible boot conflict. Need revisionable to gel with way/database (which extends directly from Eloquent)

[2014-07-14 18:54] devcflynn opened #66 "Support for BatchIds"
This seems like it would be fairly easy to implement. Basically it is a batch_id for each time the revision is saved. For example - I have a model that has 5 fields, I changed all of those fields from -> to something. When its saves, it saves that as a batch. Next time that particular model get changed again in multiple fields, the batch number auto-increments. Does this feature make any sense. If

[2014-07-15 17:55] devcflynn opened #67 "Toggle auto field naming on foreign keys"
I do like the feature where it will try to find the name/label of the given foreign key ids object, but in the case where the value does not represent a foreign key but actually references something in the data called "whatever_id" (easily could have been called whatever_number, but this is the verbage the client used), how do I/can I disable that on a given field to prevent it from automatically

[2014-07-17 09:50] Kn4ppster opened #68 "Ordering revisionHistory?"
I can't find anything on this but is it possible to order the revisionHistory? I'd like to show the most recent changes first.

[2014-07-17 23:44] #68 closed, assigned to nobody

[2014-07-25 06:40] otherguy opened #76 "Sentry fix"
The Sentry works as intended if you're logged in. If you're not logged in, it still tries to use Auth::check() which throws an exception if not configured.

Replace:

[code]

With:

[code]

[2014-07-30 10:50] zofe opened #77 "Support for Multiauth (or custom driver)"
First of all  You've done a really good package, thanks a lot.

Should be a good thing to support multiple auth driver or to save also the "model" associated with the auth user.  In my case (an I think in many cases)  `Auth::user()` can be User,  Admin, or another model depending on current login.

needed stuffs are ..
- in the revision table add a field  "user_type", and add a setter method to fi

[2014-08-04 23:54] #76 closed, assigned to nobody

[2014-08-05 00:13] duellsy opened #83 "Update trait to use boot<TRAIT NAME> instead of defining a static boot function"
This is a re-open of issue #78
To be completed in v2.0

The boot method should be:

`public static function bootRevisionableTrait`

[2014-08-05 00:19] #65 closed, assigned to nobody

[2014-08-05 00:23] #4 closed, assigned to nobody

[2014-08-05 00:24] #3 closed, assigned to nobody

[2014-08-06 17:09] SuperlativeEntity opened #84 "Struggling to get _id ref / formatting working"
Hi Chris

I have the following migration:

[code]

and the following model:

[code]

However, I cannot get the foreign key description to display for the person_type_id, nor can I change the field format displayed. (I tried the $revisionFormattedFieldName. Also tried to do the accessor / mutator thing to no avail (copied and modified the examples from laravel's docs))

Any idea what I could be doi

[2014-08-06 20:00] lowerends opened #85 "Show complete history for all models"
It's possible to load the history for a specific model using `$history = $article->revisionHistory;`. I'm wondering if it's also possible to load the complete history for all the records in the revisions table, independent of the model. Are there any shortcuts for this in the package?

[2014-08-08 02:25] #85 closed, assigned to nobody

[2014-08-08 02:30] #84 closed, assigned to nobody

[2014-08-08 15:56] SuperlativeEntity opened #87 "Documentation Issues"
Hi

Please have a look at your "Format output" section. You mention the following variations:

$revisionFormattedFieldNames
$revisionFormattedFieldName (In the code example)

These need to be the same thing. Had me scratching my head for a few minutes.

The array examples are also missing commas for the middle entries (public,small_name keys)

[2014-08-09 01:56] #87 closed, assigned to nobody

[2014-08-10 17:22] SuperlativeEntity opened #89 "Question: $revisionFormattedFieldNames and Lang::get"
Hi

Quick question, is it possible to reference the language key in $revisionFormattedFieldNames. I couldn't think of a solution to achieve this...

[code]

[2014-08-10 22:55] #89 closed, assigned to nobody

[2014-08-13 03:20] paulofreitas opened #90 "Add support for Cartalyst's Sentinel authentication"
Would be handy to also have support for Cartalyst's Sentinel authentication solution, the "new" subscription-based evolved version of Sentry.

It shares the same  `check()` and `getUser()` methods used on "old" Sentry, so it'll be easy to implement, I guess. You can check its manual here: https://cartalyst.com/manual/sentinel

I'm not making a PR for this because I think it's better to give you op

[2014-08-13 14:21] jeremycwalker opened #91 "Is it possible to make changedRevisionableFields() method protected instead of private?"
I have child classes which inherit from a parent class which uses RevisionableTrait. I'd like to to be able to hook into the save events and see if any fields have changed without recreating this functionality or forking your code. Thanks.

[2014-08-13 15:49] anarchocoder opened #92 "support for soft deletes no longer works in laravel 4.2"
In version 4.2, laravel models now use a SoftDeletingTrait instead of a softDelete property.

This means that in laravel 4.2, revisionable no longer creates a new revision when a model is soft-deleted. It does currently make a revision when something is restored (undeleted) though.

The fix is simple; I'll have a go at forking, fixing and submitting a pull request, but bear with me as I'm fairly n

[2014-08-14 00:47] #90 closed, assigned to nobody

[2014-08-14 07:29] mysteryos opened #95 "Custom Accessor For Attributes"
It may happen (and it did to me), whereby i need an accessor ONLY for use with revisionable to display proper values (e.g constants stored in a key-value array).

Hence using the default Eloquent Accessor will be no good.

Consider adding another accessor function(e.g 'getFooRevisionAttribute') to your revision class which takes precedence over the default Eloquent accessor in the new revisionable

[2014-08-15 18:58] devthiagolino opened #98 "I need help to implement the package"
Hello, I'm having trouble making the package work with perfection.
Theoretically'm doing everything right, I can save records, but no record is saved in the revisions table.

My code:

http://laravel.io/bin/zew0J

[2014-08-15 23:16] #98 closed, assigned to nobody

[2014-08-18 10:58] larsl opened #99 "Suggestion about renaming migrations seems outdated"
Just a little thing - In the readme you recommend renaming the revisions table migration in order to avoid a conflict of class names:

I found that using the same name works just fine, and that renaming would actually cause an error (Laravel 4.2.8): `PHP Fatal error:  Class 'CreateRevisionTable' not found in /home/vagrant/Code/Territory/vendor/laravel/framework/src/Illuminate/Database/Migrations/M

[2014-09-02 12:00] ryanengland opened #103 "Event observers not called on traits"
I'm experiencing strange behaviour when using the RevisionableTrait on my Policy module:

[code]

When using the RevisionableTrait and updating the model, nothing happens. I've done a little digging, and have found the following:

[code]

This dies, outputting the message 'here'. However:

[code]

Outputs nothing and the model continues to save without revisions. It would appear that somewhere alo

[2014-09-09 14:08] anggras opened #104 "Can userResponsible() of Revision use relationship (belongsTo)?"
To reduce number of queries especially in listing history, it'll be better to use relationship to the user model instead of doing another query with find(). By using relationship, we'll be able to use eager loading (http://laravel.com/docs/eloquent#eager-loading).

[2014-09-09 22:01] #104 closed, assigned to nobody

[2014-09-28 20:10] #103 closed, assigned to nobody

[2014-10-06 10:06] harrygr opened #106 "Revision entries for creating and deletion of resources"
At the moment we only get revisions when a resource is edited.

Is it possible to have entries for when a resource is created (e.g. `user_id 27 created Article 10654`) and (hard) deleted? I know the fields in the migration don't match for the different CRUD events but there should be a way...

[2014-10-08 01:36] #106 closed, assigned to nobody

[2014-10-16 10:27] mgleis opened #107 "Create revision for newly created model?"
Hi,

I am writing an admin frontend where I want to show all revisions ordered by time. Only the changes are saved in the revisions table.

Would it be possible to add an option so that also all fields of newly created models are saved into the revisions table?

Thanks,
Marcel

[2014-10-16 22:19] #107 closed, assigned to nobody

[2014-10-30 16:37] stevebauman opened #108 "Observe Revisionable for different events"
First of all, just wanted to say thanks a million for this package, and all your hard work. It's amazing!

I just wanted to know, is there a way to use a Laravel Observer to observe created/saved events?

I'm working on a notifications system for my project, and it'd be awesome to observe the one revisions database table for changes and notify a user of the change.

Unfortunately since I'm using t

[2014-11-09 12:54] mansouralex opened #114 "USER_ID field in the database keeps null?"
I'm using the basic Laravel Auth, the logged in User ID doesn't save in Revisions table.

[2014-11-10 09:20] #114 closed, assigned to nobody

[2014-11-13 22:56] fquist opened #115 "Exception when updating certain fields"
On a model using the revisionable trait, sometimes I get an exception when updating the model:

"Undefined index: start". On the line:
            'new_value'             => $this->updatedData[$key],
in Revisionable/RevisionableTrait.php (line nr. 123).

I get the feeling this has to do with dates, Carbon or getters/setters. 'Start' is a datetime field, that gets morphed to/from Carbon. Model code

[2014-11-21 14:08] warksit opened #117 "If a $morphClass is set on the model this is ignored when creating revisions"
For those that don't know morphClass can be set on a model and is then used to set the _type of the relation (eg revisionable_type).

This is ignored as it is just set to `get_class($this)` in the trait rather than `$this->getMorphClass()`. It is however respected when getting the revisions so although there are records in the revisions table none get retrieved. For now I have worked round it by o

[2014-11-25 02:02] jfexyz opened #118 "Don't track as revision if value changes from null -> empty string"
If you use nullable fields, saving models via a form but leaving fields blank will result in those fields being set to an empty string. And this causes Revisionable to insert dozens of useless rows whenever an object is saved the first time. (Technically going from null to an empty string is a change, but I can't imagine why someone would want to track this.)

[2014-12-13 15:08] fobus42 opened #120 "Request : save create actions."
Hello,

I needed to track all database actions. You have allready coded update and delete.
I have coded for postCreate() function. But I'm unable to push it to github.

I think you may add function to track create actions, or use my code.

<?php namespace Venturecraft\Revisionable;

use Illuminate\Database\Eloquent\Model as Eloquent;

/*
 * This file is part of the Revisionable package by Venture

[2015-01-16 21:30] torrobinson opened #123 "[Question/Suggestion] Using Revisionable with approvals"
Hello,

I'm building my first Laravel application and Revisionable looks to fill a need I had. However, I am looking to store most updates to revisionable models into a custom "approvals" table, where I will keep track of requested field changes and who requested them. Upon approval, I'll actually be making those updates to the models.

So on approval, I assume Revisionable will store the userResp

[2015-02-04 20:33] torrobinson commented on #123
I ended up not using Revisionable - I extended ```Eloquent``` and overrode the ```save()```, ```update()``` and ```insert()``` methods to handle saving the changed (dirty columns) to a ```revision``` and ```revisionBatch``` table. Actually could have done this as Trait...

That way our approvers can view a bulk list of attempted changes down to every field and approve/deny them. Approving a batch

[2015-02-04 20:33] #123 closed

[2015-02-09 21:08] PadreMontoya commented on #120
+1 to this.  I was just about to ask for the same thing - the ability to record model creations.  We're in the medical field, and every action needs to be tracked, so this would fill a needed gap.

[2015-02-11 14:52] mansouralex opened #124 "One of my Models doesn't make any History of changes?"
One of my Models doesn't make any History of changes while I have used the package same as my other models.

Here is how my Model looks, If you notice any typo errors or  something missing please let me know what it is. Thanks

    <?php

    use Illuminate\Database\Eloquent\SoftDeletingTrait;

    class ClientService extends Eloquent
    {
        use \Venturecraft\Revisionable\RevisionableTrait;

[2015-02-13 18:02] bsiu commented on #120
+1 too. Absolutely need this for our projects.

[2015-02-14 13:27] arieswandari commented on #120
My code $post = \Post::create($input); not updating revisions table. Any else action (update, delete) is work. Please your advice how to use this.

[2015-02-18 20:09] andregeges opened #125 "L5 ?"
Hi, how to use this package on L5 ?

[2015-02-18 22:13] duellsy commented on #125
As the docs state, Revisionable V1 is for Laravel 4.

Work on a laravel 5 version has not begun.

[2015-02-18 22:13] #125 closed

[2015-02-25 00:38] #115 closed

[2015-03-17 00:47] marcelgruber opened #127 "What is the license for this software?"
I don't see any documentation about it. Much appreciated!

[2015-03-17 00:50] duellsy commented on #127
Sorry, should have stated that: http://opensource.org/licenses/MIT

[2015-03-17 00:50] #127 closed

[2015-03-31 01:29] nonDeath opened #128 "isEmpty:Nothing:%s modifier not work"
I have a model that store values from null to some value and some value to null.

with isEmpty:Nothing:%s just i have Yes or Not message.

Dont have the behavior expected for example:

value = null, from the database i got the response ... from to 10 (for example) but, if i use isEmpty the result is  ... from Not to Yes

Regards

[2015-04-02 12:54] Omranic commented on #107
@duellsy Any updates on v2 & the #102 merge to the core package?

[2015-04-16 03:52] itsazzad commented on #125
When can we have a version for L5?

[2015-04-16 04:15] duellsy commented on #125
Unsure, I need to find the time to work on this. However, this pull request allows it to he installed, it's just not officially supported:
https://github.com/VentureCraft/revisionable/pull/105

[2015-04-22 17:45] InstanceOfMichael opened #132 "php artisan migrate --package=venturecraft/revisionable inside Unit Test?"
does anyone have a working version of:

[code]
being called after migrations while unit testing? If not, we should note or suppress this message in the docs.

[2015-05-01 07:48] billionsales commented on #120
+1

[2015-05-08 09:37] Bolandish commented on #124
I have a similar problem.
I following your post :+1:

[2015-05-11 02:27] sniper7kills commented on #35
@slovenianGooner I Believe I understand what you are asking about. I have come up with a solution and am going to try to put a merge request in.

[2015-05-15 19:50] rorymcdaniel commented on #124
I've got the same problem. I'm using this on two models, one keeps the revision, the other doesn't. Mine are both set up just like both of yours, but I'm not using the SoftDeletingTrait.

Any ideas?

[2015-05-16 02:08] rorymcdaniel commented on #124
So I found the problem with mine, posting it here in case it helps anyone else.

The only difference between the two models was that the one that was not working had an observer defined. I essentially copied the observer portion from RevisionableTrait.php into the corresponding methods of my observer, and now it works. There's got to be a better way, but for now, I'm happy because it works.

[2015-05-25 15:00] arvind132 opened #136 "Limit for Track History"
Hi, i need a support that, is there any possibility for setting a limit to stop the revision history for a modal. (if the limit cross the package should not have to keep the history for the modal). please help me,

[2015-05-25 23:45] duellsy commented on #136
Hi, this isn't supported by the package I'm afraid.
Happy to accept a pull request for it.

[2015-05-25 23:45] #136 closed

[2015-05-26 01:30] sniper7kills commented on #136
@arvind132 I'll try to update my existing pull request to include this feature. If you want to code it yourself; it shouldn't be difficult just a matter of overriding the postSave function in Revisionable trait to check how many revisions the model already has; and not updating it if it is above the threshold you set.

[2015-05-26 01:50] sniper7kills commented on #136
Please see pull request #135 I have added this feature request into my pull.

[2015-05-26 06:35] arvind132 commented on #136
Thanks for the code, really its so useful.

[2015-05-30 07:41] BlazeNikhilesh opened #140 "Not able to get the foreign value relations for a revision"
So, I have a model Tickets. I want to keep revision of assigned_to and stage_id. I read that I can display String instead of ID using this function
 public function identifiableName()
    {
        return $this->getKey();
    }
But, I am not able to override this in my Tickets model.

[2015-05-31 00:13] duellsy commented on #140
This would belong in your Stage model, so when you are getting the stage from the history of the ticket, it will return something other than the stage_id, perhaps your stage name

[2015-05-31 00:13] #140 closed

[2015-06-18 08:28] polapola opened #145 "Error: Trait 'Venturecraft\Revisionable\RevisionableTrait' not found"
I have installed the package in my Laravel 4.

when i use based on the new, trait based implementation like this:

<?php
use Illuminate\Auth\UserTrait;
use Illuminate\Auth\UserInterface;
use Illuminate\Auth\Reminders\RemindableTrait;
use Illuminate\Auth\Reminders\RemindableInterface;

class Category extends \Eloquent implements UserInterface, RemindableInterface {
	use UserTrait, RemindableTrait;

[2015-06-25 14:46] kz commented on #145
Your namespace is probably not in the base namespace. Use ```\Venturecraft\Revisionable\RevisionableTrait;``` instead. Note the prepended backslash.

[2015-06-25 15:01] kz commented on #63
@tommy7600 Ditto. I'm using attach() and detach(). Perhaps we could extend attach() and detach() and listen for when they are called, and then fire our own event which we listen to.

[2015-07-01 14:17] rajivseelam opened #152 "Revisions Limit - Clean Old Revisions"
`protected $historyLimit = 500;`

This takes care of limit, when the limit is reached, it stops taking care of revisions.

Is it possible that it keeps only limit, but deletes oldest revision to accommodate a new revision. Going with above example, it won't stop tracking history but it stores only 500 latest revisions. As the limit crosses, it deletes old revisions.

[2015-07-01 14:55] sniper7kills commented on #152
@rajivseelam check of the code bellow. If it works I'd be willing to do a pull request.

in RevisionableTrait
[code]
in your model;
`protected $revisionCleanup = true;`

[2015-07-01 22:37] duellsy commented on #152
:+1:

looks pretty good to me @sniper7kills

[2015-07-01 22:45] sniper7kills commented on #152
@duellsy I didn't test it at all; If you would like me to still make a PR let me know; but I wouldn't merge it until someone tests it.

[2015-07-01 22:54] duellsy commented on #152
Oh for sure, first glance looked like it would work flawlessly though ;)

[2015-07-02 04:24] rajivseelam commented on #152
I have tested both the cases:

1. With just historyLimit set.

2. With historyLimit and $revisionCleanup set.

Worked fine in both cases.

[2015-07-06 03:59] duellsy commented on #152
Would be awesome if you would be able to also add docs to the readme on how to use this, I'd do it myself but I'm swamped at the moment

[2015-07-14 13:34] KamilFo opened #157 "Can Laravel Revisionable track changes by foreign key not primary key?"
I have a shop database.

Two tables: order and order_products. I want to track changes in order_products and watch it through Order model.

When I update order it overrides all related to this order rows in order_products table so there are always new primary keys so we cant track changes by default. I need to track it via foreign key which is order_id in order table.

So how I should solve this p

[2015-07-14 22:03] duellsy commented on #157
Revisionable works based on the events that are thrown by the model, create / update / delete, since it seems like in your case you're always creating a new row, rather than modifying an existing one, I'm not sure there's a way around this (apart from changing the way your app saves it's updates to be updates, not creates)

[2015-07-14 22:03] #157 closed

[2015-07-24 11:48] divdax opened #158 "Birthday value in history"
Hey,

i have a birthday field from type date (YYYY-MM-DD) and it's also defined as a date in my model.
Now if i save the model the birthday has changed like this:

[code]

[2015-07-31 18:22] omar-faruk-sust opened #159 "not working"
i am trying to use this package but it's not working, can you tell me what's wrong with my code?
[code]

anyone can provide me an working example?

[2015-07-31 19:29] divdax commented on #159
I think you have to remove the boot() method.

[2015-08-03 16:15] omar-faruk-sust commented on #159
hi @divdax i remove the boot method but it's not working. i want to mention that i am using another package for another purpose. in that package there is a boot method.

[2015-08-04 18:43] luizreginaldo commented on #128
the readme is wrong...

look my pull request https://github.com/VentureCraft/revisionable/pull/160

[2015-08-24 22:11] Aner-Git opened #164 "userResponsible() is too restrictive / not flexible"
In the Revision class the userResponsible function is somewhat restrictive.

It would be great if on can inject an inteface or configure one so the model return can come from anywhere (and not just Sentry / Laravel )

[code]

Yes, one can extend this class but seems overkill. [also engineering wise, why should Laravel/Cartlyst are special? ]

[2015-09-01 18:04] argia-andreas commented on #120
@fobus42 Thanks!

I added the two create methods to the RevisionableTrait instead and got it working.

+1 for adding this

[2015-09-02 05:56] mmodler commented on #120
+1

I would like to see create support, too!

[2015-09-02 07:06] duellsy commented on #120
See PR: https://github.com/VentureCraft/revisionable/pull/165

Just want to make sure that existing users of revisionable aren't affected, meaning we need to have this be disabled by default, and enabled forcefully on a per model basis.

[2015-10-12 08:20] chrislandeza opened #172 "getValue() having trouble finding the related model."
Hi, I have these two models

[code]

AND

[code]

and I have this data on my revisions table, which I got when I changed the ticket_priority_id on my Ticket Model from 1 to 2

ID | revisionable_type | revisionable_id | user_id | key | old_value | new_value
------------ | ------------- | ------------- | ------------- | ------------- | ------------- | -------------
1 | App\Ticket | 1 | 1 | ticket_pr

[2015-10-24 08:20] sumityadav opened #175 "RevisionableTrait conflicts with EntrustUserTrait"
I am using Laravel Framework version 5.1.20 (LTS)

I am using EntrustUserTrait and RevisionableTrait where the boot method is present in both traits and doesn't load because of the conflicts. Is there a way to get them working together?

Thanks

[2015-11-02 23:20] AdrianB93 opened #176 "Saving multiple values not working."
Revisionable is only logging "expires_at" when saving multiple values like so:

    $contract = Contract::find(1);
    $contract->is_active = true;
    $contract->status = 'pending';
    $contract->expires_at = Carbon::now()->addDays(5);
    $contract->save();

I need the other values to be logged in the revisions table too.

I'm using Postgres 9.4.4 and dumping `$this->dirtyData` in `Revisionable

[2015-11-02 23:34] AdrianB93 commented on #176
Sorry, a `artisan clear-compiled` and `artisan optimize` fixed the issue.

[2015-11-02 23:34] #176 closed

[2015-11-02 23:34] duellsy commented on #176
:) Awesome.

[2015-11-18 13:56] ricklwd opened #181 "Package migration doesnt work L5.1.24"
This wil throw an error: **exception 'RuntimeException' with message 'The "--package" option does not exist**. Apparantly the --package switch is not supported anymore as of L5.1.24

Please change documentation from:

To:

As this will solve this problem.

Regards, Rick

[2015-11-23 20:30] gpedro commented on #91
:+1:

[2015-11-24 11:36] gpedro commented on #91
i solved my problem using a helper

![selection_085](https://cloud.githubusercontent.com/assets/2898638/11365635/724466e2-9286-11e5-9a62-9a89959857cf.png)

[code]

View:
[code]

[2015-11-27 12:38] Eldair commented on #181
+1

[2015-11-28 12:34] tdolph opened #184 "Cant create list of all changes"
How can i get the list of all updates?

I am trying to make an activity log for my website that displays updates on articles, posts, users and all that stuff. But, i cant figure out how to get all revisions, not just for single model or user.

[2015-11-29 16:42] rjp2525 opened #185 "Add additional information to revision history"
This package is fantastic, but there's one thing that it doesn't have that I needed.

For those of us using this package for security precautions like me, we'd like to store more information about the request at the time of the revision. (IP address, user agent, etc.)

I ended up implementing it somewhat messy within my application, so it'd be great if it was part of the package by default. If I f

[2015-11-30 00:08] bernex commented on #181
Try this:

[code]

--package - removed (

[2015-11-30 13:08] philippejadin opened #186 "Don't log if nothing is wrong"
Here : https://github.com/VentureCraft/revisionable/blob/master/src/Venturecraft/Revisionable/Revision.php#L175

This line fills the log with an "info" that is probably not useful.
I get this for each display of history :

production.INFO: Revisionable: exception 'BadMethodCallException' with message 'Call to undefined method Illuminate\Database\Query\Builder::getRevisionUnknownString()' in /[...]

[2015-11-30 23:34] duellsy commented on #184
You can load them just like you would any other model, i.e.,

[code]

[2015-11-30 23:34] #184 closed

[2015-12-07 20:32] ecmattos opened #187 "Fields type DATE - new_value with time (00:00:00)"
Each registry editing , the fields of type DATE are changed unwittingly adding to new_value field in the table revisionable with hours, minutes and seconds ( 07/12/2015 00:00:00 ) . How do I make the hours , minutes and seconds are disregarded ( 07/12/2015 ) ?

[2015-12-07 22:25] duellsy commented on #187
Perhaps try making sure that the date you are saving is the date only, with no time on it?

[2015-12-07 22:25] #187 closed

[2015-12-08 00:39] Feld0 commented on #185
+1. IP address logging will make this an even more useful package for auditing purposes.

[2015-12-08 08:29] ecmattos commented on #187
I am using datepicker in my fields type of a Date. I realize the conversion the format from d/m/Y to Y-m-d assistance of Carbon. I apply to dd ($date_start) to check if there is no information on the hour, minutes and seconds , really, I just show up the only date.

[2015-12-08 08:45] ecmattos commented on #187
The issue #158 is the same problem.

[2015-12-08 18:18] ecmattos commented on #187
My controller:
$input = $request->all();

if($input['date_fundacao'])
{
  $input['date_fundacao'] = \DateTime::createFromFormat('d/m/Y', $input['date_fundacao']);
  $input['date_fundacao'] = $input['date_fundacao']->format('Y-m-d');
}
else
{
  $input['date_fundacao'] = null;
}

[2015-12-10 10:07] ecmattos opened #189 "Fields type DATE with 00:00:00"
Each registry editing , the fields of type DATE are changed unwittingly adding to new_value field in the table revisionable with hours, minutes and seconds ( 07/12/2015 00:00:00 ) . How do I make the hours , minutes and seconds are disregarded ( 07/12/2015 ) ?

I am using datepicker in my fields type of a Date. I realize the conversion the format from d/m/Y to Y-m-d assistance of Carbon or DateTim

[2015-12-10 10:11] ecmattos commented on #159
try this:

<?php
namespace App;
use Illuminate\Database\Eloquent\Model;
use \Venturecraft\Revisionable\RevisionableTrait;

class Books extends Model {

    public static function boot()
    {
        parent::boot();
    }
    protected $revisionEnabled = true;
    protected $table = 'books';
    protected $fillable  = ['isbn','title','author','publisher','language'];
}

[2015-12-10 17:07] ecmattos commented on #189
array:22 [▼
  "_method" => "PUT"
  "_token" => "I0cDMt4wPzAxBp3EyKLuIYeD6sgcWOjuho8C7EDn"
  "code" => "2147483647"
  "cpf" => ""
  "name" => "EDUARDO"
  "plan_id" => "2"
  "gender_id" => "1"
  "email" => "ecmattos@ig.com.br"
  "address" => "AV GETULIO VARGAS, 123"
  "neighborhood" => "MENINO DEUS"
  "city_id" => "84"
  "zip_code" => "90000000"
  "phone" => ""
  "mobile" => ""
  "birthday" => "1970

[2015-12-14 14:45] alexhouse commented on #175
When you use the traits at the top of your model, you can pick which method to use:

[code]

[2015-12-15 09:50] ecmattos commented on #187
????

[2015-12-15 09:53] ecmattos commented on #158
Hi, divdax!
Are you still with this problem ?

[2015-12-18 00:47] ecmattos commented on #187
?????????????????

[2015-12-18 00:47] ecmattos commented on #189
?????????????

[2015-12-18 01:58] duellsy commented on #189
You are welcome to submit a pull request to fix this issue, along with #187

[2015-12-22 09:49] isaacqc commented on #189
+1:
Thank you for providing such a great package!! I was wondering how to make a audit trailing function on my system, now this completely satisfies my need.

and just right after using it, I noticed this same minor problem. hope that it will get resolved soon~

[2016-01-10 18:29] hellohereiam opened #192 "Define connection for reversions table"
Hi,

Thanks for the package, just what I was looking for!

As I am using different db connections in a multi tenant setup, I define the db connection for the model via protected $connection = 'connectionname';. This package does not seem to have any configuration for the connection. I guess there is always the possibility to set the standard connection to the desired one, but it would be better if

[2016-01-11 10:19] duellsy commented on #192
Sounds like it could be handy, if you're prepared to make a PR for it to the dev branch, I'll happily merge in.

[2016-01-11 15:00] hellohereiam commented on #192
Unfortunately I was not yet able to figure out how to abstract this into a fully configurable way. I had to hardcode the connection name I am using into the Revision Model to make it work, which is not useful for the package. As I use several other customisations (e.g. I am also saving a user_session_id with each revision in order to be able to track from where the revision took place -> IP, geolo

[2016-01-14 03:22] martinmarianetti commented on #185
+1

[2016-01-16 22:13] roshangautam opened #198 "getUserId"
Function getUserId clashes with the same function name in Sentinel User Model. Hence if we try to track revisions of Sentinel User Model by adding RevisionableTrait the getUserId function returns null while trying to login because of the following line:

<code>return ($class::check()) ? $class::getUser()->id : null;</code>

Renaming the function to getSystemUserId or something else fixes the probl

[2016-02-01 11:20] philippejadin commented on #186
Or maybe, it is because a related model has not the revisionable trait. In this case I'd consider this as a bug.
Anyone has insight on this?

[2016-02-03 11:29] victor-ponamariov commented on #181
It'd be a good idea to update installation docs.
`php artisan migrate --path=vendor/venturecraft/revisionable/src/migrations` worked fine, just in docs it's still --package

Thanks for your package!

[2016-02-04 19:47] rolandkal commented on #189
This happens because Laravel cast the date attribute to a Carbon instance.

The following is in method asDateTime function in Model.php.
`if (preg_match('/^(\d{4})-(\d{2})-(\d{2})$/', $value)) {
     return Carbon::createFromFormat('Y-m-d', $value)->startOfDay();
 }`

A temporary solution is to simply avoid the use of the default setAttribute method. Just simply replace the name of the field. Hope

[2016-02-09 19:32] juanvillegas commented on #181
I think the --package is for older Laravel versions (like v4)

[2016-02-16 23:14] ryanwinchester opened #206 "Strange unique key error"
I've been getting this error type lately but I don't understand why.

[code]

[2016-02-16 23:24] ryanwinchester commented on #206
Ah well, I truncated the revisions table and it works fine now.

[2016-02-16 23:24] #206 closed

[2016-02-18 15:52] darraghmckay opened #208 "Encrypted Values always marked as 'Changed'"
I just implemented this so maybe I'm doing it wrong.

I'm encrypting most of my values when storing them to the DB so when I 'update' my model revisionable says that all of the fields have been changed and Revisionable history only shows the encrypted values (for old and new) as opposed to the decrypted values.

[2016-02-21 19:05] SuperlativeEntity opened #209 "Standard User Model with Laravel 5.2 not creating revisions"
The following does not log any changes, any ideas?

[code]

[2016-02-22 16:10] juanvillegas commented on #208
When and how are you doing the encryption? If the encryption is done after revisionable executes, then obviously revisionable will pick up the unencrypted value compare it with the current one (encrypted) and detect it as a change..

[2016-02-28 18:45] SuperlativeEntity commented on #209
I guess this package is no longer supported? Will have to find something else...

[2016-03-01 06:45] ahmadazimi opened #210 "Is there any plan to handle jsonb and json fileds?"
Hi there,

Is there any plan for this library to support ```jsonb``` and ```json``` database fields?
I mean, when someone updates a key in a ```jsonb``` field, we can track changes for that specific key in the field not whole field.

Currently **revisionable** marks whole ```jsonb``` field as changed when you edit only a key in that field.

[2016-03-01 12:15] schealex opened #211 "revisionable_id cannot be null"
Hey there i have the following model:

[code]

cModel class is:

[code]

i revisionable is working on other model that look exacly the same but with the usersettings it's throwing:

[code]

on executing this:

[code]

please help me solve this

[2016-03-01 12:18] schealex commented on #211
nevermind was the incrementing = false in model. my bad!

[2016-03-01 12:18] #211 closed

[2016-03-04 17:52] jfhernandeze opened #212 "revisionable_id as string and 2 field_key"
Hello,

I am working on an existing DB, it happens that almost all of the primary keys for this DB are string and in some parts, 2 field primary key like:

employee_number (string) PK,
payroll_period (string) PK

Is there a way to use it like:

revisionable_id (string) = 000013_01

Or something like that?

[2016-03-06 03:48] Nagle commented on #210
(y)

[2016-03-09 22:23] thijskok commented on #189
We faced a similar issue, but we really needed Carbon to parse the value passed to our mutator (due to handling of international formats). The previous example got us on the right track, with a slight modification:

[code]

The `parse` method converts the date, `startOfDay` ensures that the time is set to 00:00:00 (otherwise the current time is used), and `toDateTimeString` allows Revisionable to

[2016-03-16 01:52] thestepafter opened #213 "revisionHistory is showing for some models but not others"
I checked the revisions table in the database and their are revision records for the record I'm trying to show the history for.

$record->revisionHistory returns an empty array though.

The same code for other models works fine, it is really strange.

This model code works:

[code]

This controller code for the above model works:

[code]

This model code doesn't work (but there are records in the

[2016-03-16 17:53] thestepafter commented on #213
I have a morphMap setup in my AppServiceProvider boot method that is firing when revisionable calls for the record so this is why nothing is being returned. Does anyone know how to make revisionable work with morphMaps?

[2016-03-22 05:19] cse031sust02 opened #214 "revisionHistory with limit"
Can i get revision history with 10 data or so ?
something like $user->revisionHistory(10)?

[2016-03-22 06:11] cargie commented on #214
no since its using eloquent relationship but you can make a function that would take revision history with limit parameter.

[2016-03-22 06:15] cargie commented on #192
+1

[2016-03-24 12:34] ns3777k commented on #185
+1

[2016-03-25 10:05] ArtisanTinkerer opened #216 "The "--package" option does not exist."
Am I the only person that gets this when I try and do:

php artisan migrate --package=venturecraft/revisionable

[2016-03-25 10:12] ArtisanTinkerer commented on #216
php artisan migrate --path=vendor/venturecraft/revisionable/src/migrations

[2016-03-25 10:12] #216 closed

[2016-03-28 08:34] ArtisanTinkerer opened #217 "Instructions not working."
This how the instructions says to use:

[code]

When I look in in my models, they extend Model, not Eloquent.

When I try this code:

[code]

I get:
 Fatal error: Trait 'App\Venturecraft\Revisionable\RevisionableTrait' not found in /var/www/html/selection/app/Record.php on line 13

What am I doing wrong?

Mick

[2016-03-28 08:48] onbjerg commented on #217
You're missing a ``\`` in your code.

[2016-03-28 08:51] ArtisanTinkerer commented on #217
Here?

[code]

I get the same error.

[2016-03-28 08:58] onbjerg commented on #217
Try to do ``composer dump-autoload``

[2016-03-28 09:12] ArtisanTinkerer commented on #217
Got further now.

Class 'Auth' not found in /var/www/html/selection/vendor/venturecraft/revisionable/src/Venturecraft/Revisionable/RevisionableTrait.php

[2016-03-28 10:07] ArtisanTinkerer commented on #217
An this now:

Class 'DB' not found' in /var/www/html/selection/vendor/venturecraft/revisionable/src/Venturecraft/Revisionable/RevisionableTrait.php:260

[code]

[2016-03-28 10:35] ArtisanTinkerer commented on #217
If I add:
[code]

Then swap the

[code]

for:

[code]

Why do I need to do this?

Mick

[2016-03-28 10:55] onbjerg commented on #217
Seems a bit odd. Are your facades configured correctly?

[2016-03-28 11:00] ArtisanTinkerer commented on #217
I assume so, I have not changed anything.

How can I check?

Should this work with 5.1?

[2016-03-28 11:03] onbjerg commented on #217
It should, yes.

[2016-03-28 11:10] ArtisanTinkerer commented on #217
What can I check then?

My understanding is that \DB should just work, because it references the root namespace.

[2016-03-28 15:52] ArtisanTinkerer commented on #217
Working now, my app.php was corrupt.

[2016-05-02 14:18] roryatbrightoak commented on #186
I realize this is an old issue, but since it's still marked as open...

I have exactly the same question. Is this a problem that I need to address in the code in some way? Or do I simply need to change my overall log level setting?

[2016-05-02 17:31] Gummibeer commented on #186
It seems that it tries to call the method on a model that doesn't use the trait.
So it could be that you can solve it by using the trait in the related model.

[2016-05-02 21:11] philippejadin commented on #186
...which probably means it's a bug :-) But unfortunately I have no idea how to fix it

[2016-05-02 21:35] Gummibeer commented on #186
A simple `method_exists()` should solve it.

[2016-05-03 15:06] bpfruin opened #221 "Revisions on many-to-many relationships"
I'm a new, inexperienced Laravel developer.  Is there a way to record revisions on many-to-many relationships?  For example, User and Role is M:N and I want to add or remove a Role from a user.  Is there a way for revisionable to record that?  If there's not, how would I go about doing that?  Should I add a record to the revisions table manually in the boot update method of the User model?

[2016-05-05 19:38] jakebathman opened #222 "dontKeepRevisionOf overwriting object field exemptions"
If using the `$dontKeepRevisionsOf` attribute, this may overwrite any fields that are exempted because they're objects or lack a `__toString()` method.

The offending line is in `RevisionableTrait.php@preSave` starting on line 124:

[code]

Using the `+` operator on arrays with numeric keys will overwrite values from the first array. For example:

[code]

I'm about to submit a pull request, replac

[2016-05-06 04:42] whfamily2006 opened #224 "Deleted Records"
Is this package record the delete record. e.g. who delete the record..??

[2016-05-17 19:16] ahtun opened #227 "Get old value by specific date"
Hi, can I get old value by specific date.
For example: I have client table and invoice table (related to client table by 'client_id').
I create invoice with client data, after I changed client address, and created a second invoice.
If i do a request first invoice, i get a fresh address, but I need old.
Please help me. Thanks.

[2016-05-18 12:50] tacone opened #228 "Please allow the initial values to be stored"
I'd like to store every revisionable field on model creation. I understand it may not be everybody's piece of cake but may prove useful for some.

Currently revisionable explicitely avoids to do that by checking the `$updating` property.

My current workaround is pretty hacky but works:
[code]

Could you add a configuration property to tell the model to revision all the field on INSERT ?

[2016-05-20 04:16] duellsy commented on #227
Hi,

You'll need to get the list of revisions, and do a filter on that set to get the specific revision that you are after.

[2016-05-20 04:16] #227 closed

[2016-05-20 04:22] duellsy commented on #221
Sorry, revisionable does not handle Many to Many relationship revisions. It's something that you'll need to manually manage and store outside of elevio.

[2016-05-20 04:22] #221 closed

[2016-05-22 02:01] illuminate3 opened #230 "using trans and Lang with revisionFormattedFieldNames"
[code]

As you can see, I'm trying to use the trans and Lang methods but I get the error:

[code]

Any suggestions for a work around?

[2016-05-22 02:52] illuminate3 opened #231 "work with vinkla/translator"
I'm trying to get access to a model that is being serviced by https://github.com/vinkla/translator

[code]

However, revisionable and vinkla are possibly conflicting with each other.

Any suggestion as to how to convert my status_id with another solution?

I did try:

[code]

But that obviously won't work because it's a boolean. The string method didn't help either.

any suggestions or ideas?

[2016-05-25 08:12] Kovah opened #232 "Revisionable seems to not work with my model"
I followed the instructions and added Revisionable to one of my models. After configuring it I tested updating an entry for the model but no revisions are created.
Migration was created and the database table exists.

This is how the model looks:
[code]

This is the controller action to update the model entry from a form:
[code]

* I already tried adding `self::bootRevisionableTrait();` to the boo

[2016-05-31 10:34] #217 closed

[2016-06-07 08:33] lupoair opened #233 "Compatibility with Laravel 5.*"
Can anybody state the compatibilty of Revisionable and the latest Laravel or LTS?

I think this should also be documented by rule.

#209 states it doesn't work with standard 5.2 user model.

While pull request #207 offers little help with migrations.

What is the overall state of this project?

[2016-06-09 07:13] flarpy commented on #189
For me the above didn't work but this did
`$this->attributes['completion_date'] = Carbon::parse($value)->format('Y-m-d');`

[2016-06-14 04:23] astierler commented on #232
@Kovah when you use ->update directly onto Laravel's query builder, it essentially just makes a database call.

Try loading the quote, modifying and then calling save.

[code]

[2016-06-14 04:29] #92 closed

[2016-06-14 04:35] astierler commented on #224
@whfamily2006 yes, but you must be using Soft Deletes.  See https://github.com/VentureCraft/revisionable#storing-soft-deletes

[2016-06-14 04:35] #224 closed

[2016-06-14 20:49] astierler commented on #213
@thestepafter did you ever resolve this, or find a workaround? I have had some special use-cases when using Revisionable that I was able to implement, and am wondering if you found a resolution.

[2016-06-14 23:24] dtubby commented on #232
Also having the same issue. Unfortunately i've used the same logic all over my code and Revisionable hasn't stored any of the changes.

having 3, 4+ lines of code instead of a quick one liner is messy to me.

[2016-06-14 23:52] astierler commented on #232
@dtubby I understand why making the update (or delete) calls to the database directly is shorter time wise, and quicker - but that is unfortunately the trade-off you are stuck with.

That said, this isn't a limitation of Revisionable. In order for Laravel to even be aware of those updates, you need to load the records in first and call the appropriate Model functions.  No Eloquent events will be f

[2016-06-14 23:52] #232 closed

[2016-06-14 23:58] dtubby commented on #232
completely understand. thanks for the reply. At first its frustrating as suddenly i have 10 lines of code with a foreach to update the fields so it works with revisionable.

But looking at the code i can see why you would need to do it that way. Maybe it could be in the documentation? i feel like its something that would pop up and go unnoticed for alot of people. Surely im not the only one trying

[2016-06-14 23:58] astierler commented on #228
I will look into adding this functionality!

[2016-06-15 00:00] astierler commented on #232
@dtubby Agreed 100%. I will make sure this gets added to documentation. :+1:

[2016-06-15 02:53] astierler commented on #209
@SuperlativeEntity Can you provide an example of the code you're running into when modifying a user record/records? Or the behavior that you expect that is not working

This should definitely not be an issue because of compatibility.

[2016-06-15 02:55] astierler commented on #233
Hi @lupoair - Revisionable is compatible with the latest releases of Laravel, as well as 4.2.  In regard to the first ticket, I've asked for more information - but I can confirm on my 5.2 install, revisions are working on all my models as expected.

207 is just a documentation issue for the migration, which will be addressed in the docs soon.

[2016-06-15 05:00] Kovah commented on #232
I will test this as soon as possible. Thanks for the hint, seems reasonable.

[2016-06-15 05:16] astierler commented on #214
@cse031sust02 you can take advantage of the fact `revisionHistory()` is a morphMany relationship.

Use code similar to this to get a `Collection` back.
[code]

Note: you must use `revisionHistory` as a function.  If you don't care about performance or the size of your query, you can just do `$revisions = $model->revisionHistory->take(5);`

[2016-06-15 05:16] #214 closed

[2016-06-15 05:44] astierler commented on #198
#199 has been merged. I've also applied it to the non-trait version as well for consistency.

[2016-06-15 05:44] #198 closed

[2016-06-15 17:32] astierler commented on #208
@darraghmckay it sounds like you are always re-encrypting the values?  I'm not familiar with what you're doing, but it sounds like you're process is re-encrypting the values, and since they are salted, they will always change.

Also, by design, if you are storing data in the database and you want it encrypted, I'd expect you would not want to store the unencrypted values in the revision history?

[2016-06-15 17:32] #208 closed

[2016-06-15 17:32] astierler commented on #181
Documentation updated for next release for both Laravel major versions

[2016-06-15 17:32] #181 closed

[2016-06-15 18:55] astierler commented on #124
@rorymcdaniel just chiming in to close this out for now..

Laravel 5.x fixes this by using the `bootRevisionableTrait` function. For backward compatibility, the static function `boot` still exists in RevisionableTrait.

If you are on Laravel 4.x and have your own overridden `boot()` function (or another trait that may do so), in boot just make a call to `self::bootRevisionableTrait()`

I will try

[2016-06-15 18:55] #124 closed

[2016-06-15 21:52] #83 closed

[2016-06-15 21:59] astierler commented on #231
@illuminate3 on one of the upcoming releases, there's a good chance that there will be functionality to transform/process information before going into the history table - so this type of logic is best suited in there.

Will leave this open in the meantime

[2016-06-15 22:41] #222 closed

[2016-06-15 22:48] astierler commented on #159
I'm guessing this got resolved? If not, which version of Laravel are you on?

If you are on 4.x and need to overwrite the boot function, you can always include this inside of your custom `boot()` to call the Revisionable boot:

[code]

[2016-06-15 22:48] #159 closed

[2016-06-15 22:49] #120 closed

[2016-06-15 22:50] #175 closed

[2016-06-16 04:05] astierler commented on #230
@illuminate3 you can't use functions as default values in expressions.

Best bet would be to leave `$revisionFormattedFieldNames = array();` and then in the `boot` method of your class (or whichever function initializes it) you can then set the formatted field names with those functions.

Hope this helps.

[2016-06-16 04:05] #230 closed

[2016-06-17 13:16] roshangautam commented on #198
Wonderful. Thanks @astierler

[2016-06-17 13:51] thestepafter commented on #213
@astierler I did not, I ended up not using the package because of it.

[2016-06-27 08:00] larsbo commented on #192
Do I get this right that there is no revision support for models using another connection at the moment? Or does this issue only relates to the case that you want the revisions be stored inside another database?

[2016-06-27 10:01] hellohereiam commented on #192
@larsbo It just means that the package uses the default db connection and does not allow to control which connection is used other than the default connection. This also means that if you are using a different connection for a model via
`` protected $connection = 'connection-name';
in the model class, that the revision table will still look for the revisions table in the default connection... In m

[2016-06-27 10:11] larsbo commented on #192
ok, thank you for clarifying this :)
I just wanted to make sure that my models with custom ```$connection``` will be working with the package.

[2016-06-29 09:13] ahmadazimi opened #236 "Revisionable not working for extended class"
Hi there,

I have a problem working with this great library:
I wrote a base user model class called ```BaseUser``` which used ```RevisionableTrait``` and contains all needed configurations for Revisionable to work.

When i use my ```BaseUser``` class, all things work great. But when I create a new class for example ```MyUser``` with extends ```BaseUser``` class and use it, Revisionable doesn't wor

[2016-07-05 03:58] Trexology opened #237 "revisionHistory with batch number"
multiple columns/attribute could be edited at one go, retrieving the last modified values will be tedious without a batch indicator.

suggest to have a batch running number per relatable object

[2016-07-07 09:00] arvind132 opened #238 "Compare two revisions"
I want to compare the two revisions of a data, how can i able to compare the each columns of the table between the two revisions,please guide me on this?

[2016-07-10 21:09] astierler commented on #236
@ahmadazimi in your BaseUser or MyUser class, are you overwriting {{boot()}} or anything along those lines?

[2016-07-14 17:18] alanhr commented on #192
Hi guys,
I had the same problem and I solved this way

[code]

what do you think about this solution ?

[2016-07-20 05:49] ahmadazimi commented on #236
Hi,
No, I didn't overwriting anything, and As I mentioned before:

This means boot works correctly in  child class but  `static::saved` not fired!

[2016-07-21 09:05] TheRinseM commented on #185
+1, @rjp2525  Can you explain how you ended up implementing this yourself?

[2016-07-24 22:03] grex22 commented on #184
I get "Class Revision not found" -- Am I missing something?

[2016-08-02 21:15] R00118189 opened #242 "revisionable id defaults to 0 when UUID used for model id"
revisionable_id defaults to 0 or crop of when UUID used for model id

this results the history being populated for different models with mixed history records

[2016-08-03 05:43] astierler commented on #108
Better late than never.. this was released in 1.28.0 :)

[2016-08-03 05:43] #108 closed

[2016-08-07 19:14] z1haze opened #243 "get revisions for all models"
How would i get a collection of revisions for ALL models? I want to have a revisions table on a page on my site that acts like a 'feed' that will show all changes made to anything on the website.. I currently am able to get the revisions but not able to use the methods such as getting the model that was edited because it can be any sort of model

[2016-08-07 23:10] astierler commented on #243
@z1haze almost like any other Eloquent model ("Revision" is an eloquent model).
**Of course.. ** the below code would be very resource intensive, and just for demonstration purposes.

[code]

If you don't want to pre-load the "revisionable" morph with `with()` then you can dynamically load specific records, example below:

[code]

[2016-08-07 23:12] #243 closed

[2016-08-08 12:08] z1haze commented on #243
Wonder why it's telling me the method user responsible doesn't exist

Sent from my iPhone, sorry about the typos.

[2016-08-08 23:12] astierler commented on #243
@z1haze where/how are you trying to use `userResponsible()`? It's a public function of the `Revision` model itself - so make sure you're calling it from a Revision Model object.

[code]

If you're still hitting an issue, feel free to paste a code snippet along with the error, since it may just be being used in the wrong context.

[2016-08-09 00:29] z1haze commented on #243
[code]

im getting the method user responsible is not a method on query builder or something like that

[2016-08-09 00:38] z1haze commented on #243
I figured out what I had done - I had created my own revision model earlier and was still referencing that one. thanks.

[2016-08-09 01:17] z1haze commented on #243
Can you not track revisions when deleting a model (if its not using soft deletes) ?

[2016-08-09 02:07] z1haze opened #244 "getting the deleted model with the revision"
Hi, I am trying to figure out how to fetch the trashed model when you are showing a deleted revision?

$revision->revisionable always seems to return null because I'm assuming the relationships are not being fetched with the trashed models.

Can this be done? thanks.

[2016-08-10 01:09] astierler commented on #243
@z1haze Glad you got it figured out.  No @ deleting, definitely made for SoftDeletes.
However, it definitely could try to hook onto the deleting/deleted event and create its own record.

I did test this, and it works with `->delete()` and `->forceDelete()`, for what it's worth.

[code]

[2016-08-10 01:14] astierler commented on #243
Also, for what it's worth, I don't think this is included initially because of Laravel 4 compatibility / the need of a ServiceProvider.  I think it definitely could be something on the new 5.x only releases, as an option - but requires a little more customization.

Will be keeping in mind though, as I'm sure many would appreciate the above being done in a less obtrusive way

[2016-08-10 02:57] astierler commented on #244
@z1haze please use http://stackoverflow.com/ for questions like this, as they aren't actual issues.

That being said, you'd have to pull it in on its own (not from the relationship method), ie. if your Revision is `$r`, then

[code]

[2016-08-10 02:57] #244 closed

[2016-08-10 03:31] astierler commented on #224
@whfamily2006 FYI if you'd like to record hard deletes, I pasted an example at the ServiceProvider level here: https://github.com/VentureCraft/revisionable/issues/243#issuecomment-238738990

This works on delete() and forceDelete() calls

[2016-08-10 12:23] z1haze commented on #243
I kinda figured out a way to make it all work. I used soft deletes for everything even though I didn't want to. Then I had a small issue where when trying to display revision information for even the soft deleted models it didn't give the model info, only the id. I extended your revision class and overrode the revisionable method to return with trashed and that let me see what info on the model th

[2016-08-10 12:25] z1haze commented on #243
I wish there was a way to have both with trashed and without but I didn't figure it out.

Sent from my iPhone, sorry about the typos.

[2016-08-18 07:17] thorerik commented on #238
I used dev-master of actinarium/php-diff to do in-line diffs and present that in the web-ui on an application I made, turned out quite well and the code is fairly easy to read:
[code]

[2016-08-19 06:22] msonowal opened #245 "How to change the table name for the revision table"
How to change the table name for the revision table by default it is `revisions` But I want it to something like `page_revisions` cause there are many tables in my db with different prefixes. So, I just need to differentiate with the name, tell me how to change the table name via config in the model or by any way?

I have also posted in stackoverflow
http://stackoverflow.com/questions/39032220/how

[2016-08-23 13:49] doctorallen commented on #245
I think someone responded to your post on stack overflow:

[2016-08-23 20:22] ahtun commented on #192
+1

[2016-08-29 14:49] #245 closed

[2016-08-31 12:19] afraca opened #246 "With mutators use is_callable and not method_exists"
In `VentureCraft\Revisionable\Revision`, in `getValue` there is a check to see if the package can use a defined mutator, see this:

https://github.com/VentureCraft/revisionable/blob/5a76d29b897d4864cef41c605e7e03258dd5d051/src/Venturecraft/Revisionable/Revision.php#L166

However, when you implement a system with __call (adding methods on the fly etc), this will fail. This causes the mutator to be

[2016-08-31 12:20] afraca commented on #246
Thanks for the work guys. I might open a pull request when I'm back at home.

[2016-09-02 13:24] mistre83 opened #247 "Double record inserted in revisions"
I have create a simple model `Post` and extended `Revisionable` and used `RevisionableTrait`.

[code]

When i try to update a field, in `revisions` table i found two record, inserted at the same time.

[2016-09-02 14:18] abebars opened #248 "Related Revisions"
I have a specific case about following Models : Event , Comment , Attachment Each one is separate model but Comment & Attachment Belongs to Event . So is there a way to get revision history for everything related to Event directly or i need to loop on each model to bring those data together like the following

[code]

[2016-09-03 13:01] mnfgul commented on #236
I just experienced this and the reason was this event is called on after model being fetched.
Example:
Model::whereID(1)->update(['field' => 'value'])  will not fire saving etc. events.

Model::whereID(1)->first()->update(['field' => 'value'])  will fire events.

[2016-09-03 13:08] mnfgul commented on #8
@duellsy Hi,

While making update, getDirty returns empty in my case. Details are as follow;

- I am using trait in my model
- Updating the model using;
MyModel::whereId(1)->first()->update(['field' => 'value']).
- This was not creating revisions. I digged into code and found that get  $this->dirtyData = $this->getDirty(); return empty array.

Can you help about this issue.

Thanks.

[2016-09-03 13:32] mnfgul commented on #8
I found my answer. The reason was that getDirty() does not return changes in case of mass updates.
- Model::update([]) does not work
- $model->attribute = 'value'; $model->save(); works.

[2016-09-03 20:54] mnfgul commented on #247
@mistre83 I think you dont need to "extends" you model. Using trait will be enough.

[2016-09-04 11:36] mistre83 commented on #247
**What is the different from extend the model and use the trait ?**

I would like to use this plugin because in my project i need (for some model and some fields) a kind of "rollback".

Some fields in my model will be really critical, and i need a way to perform a rollback on it.

Reading the documentations, is what this plugins do (sure.. and much more!)

[2016-09-05 07:10] mnfgul commented on #247
Extend is inheritance (paren/child) relationship. Trait is just copy/paste like code sharing. Using both creates this;
- When there is a change in Post model, trait creates a revision record using the Revision Model.
- Because Post is inherited from Revision, creating a revision will also triggers a change for Post model.

[2016-09-05 07:18] mistre83 commented on #247
Thanks a lot, i've already test it using just the extend and works well. I close the issue.

[2016-09-05 07:18] #247 closed

[2016-09-27 05:40] oozrafa commented on #63
Any progress on this very important missing feature?

[2016-10-02 16:32] morilog commented on #247
I have same problem, I'm using trait, but double records are inserted in database

[2016-10-04 12:12] rafaelcneves commented on #248
Hi @ahmedbebars
Do you solved this? I have something like this.

[2016-10-05 17:10] gn0rt0n commented on #63
I really need this feature as well. I am open to sponsoring some development time on it. Let me know if you have an idea on how to implement this and roughly what it would take to get the work done.

[2016-10-10 19:37] aske-cph commented on #63
I am also interested in this. Links to custom solutions also appreciated if development has stalled...

[2016-10-13 16:02] richardbenson opened #250 "Extending Revisionable to store Route/Path/Method"
Is it possible to extend revisionable to store some basic info about the request that generated the change (e.g. route, method and/or path)?  This would be handy in larger applications where data can be changed in more than one place and useful for tracking down how "bad" data got into your database.

I looked at extending the trait or using events, but the event passes the array of changes rather

[2016-10-13 19:42] devgood85 opened #251 "Setting of user_id when data/model data entered by Cron/Job/Schedule (Laravel) ?"
How can I set the user_id manualy in the controller?

[2016-10-18 19:10] astierler commented on #251
@devgood85 In my job processors, if I have a user ID stored, I just login first via ```\Auth::loginUsingId(1)``` (where 1 being the UID).  Revisionable will pick this up.

If you do this, just don't forget to call logout after to prevent accidentally leaving somebody logged in when another task starts.

[2016-10-18 19:11] astierler commented on #250
I will look into this, as it may be a good idea for my application as well.

[2016-10-25 13:17] codydh commented on #248
I'd like to bump this as well, and reference #63, as this is related. This seems like a necessary feature, as often as much information is contained in models as there is in relationships amongst models.

[2016-10-26 16:58] NestorAcevedo opened #253 "Undefined property: Illuminate\Database\Eloquent\Collection::$revisionHistory"
Hi, I am just trying this package on Laravel 4.2 to track any change made on some models. I can see when with any signed in user I do some updates these changes are tracked on table revisions but if I try to get the history I get the following error:

`Undefined property: Illuminate\Database\Eloquent\Collection::$revisionHistory`

so, should I add revisionHistory as public property on each model?

[2016-10-26 17:40] NestorAcevedo commented on #253
OK my mistake. I forgot an additional foreach.

[2016-10-26 17:40] #253 closed

[2016-10-31 04:21] naveensnayak commented on #233
is this compatible with laravel 5.3 ?

[2016-11-02 12:37] GraveStone opened #255 "Installation VentureCraft/revisionable"
For laravel 5.2  is necessary install the  Sentry by Cartalyst or Sentinel by Cartalyst to use the VentureCraft/revisionable?
I have install the  and configure the VentureCraft/revisionable and don't work.

[2016-11-02 15:04] naveensnayak commented on #255
I am also trying to get this to work on Laravel 5.3 - its a plain install
followed instructions to install package
created migrations
verified that I can update a table in by database
using DB::table(tableName)->where(condition)->update()
nothing gets stored in the revisions table

is there anything additional to be done ?
or do we need to explicitly call some methods to save the revisions ?

[2016-11-08 17:16] SwissWeb commented on #192
Hi Everyone, just realised one of my cron that pulls multiple DB broke after I installed this great package. Had to deactivate this package until this is implemented :(

[2016-11-15 17:53] JoshZA opened #256 "historyOf() support soft deletes"
`historyOf()` for soft deleted models fails

Consider adding an optional parameter, or perhaps another version of the function to allow `withTrashed()`

[2016-11-16 08:35] nayzawoo opened #257 "Error With Mongodb"
[code]

[code]

[2016-11-16 12:09] vzool commented on #172
Same problem here

[2016-11-21 14:43] joshbrw commented on #242
Having the same issue here. UUIDs are a great way to key data, it's unfortunate they're not taken into account.

[2016-11-23 15:46] natenator opened #259 "Service Provider for Migrations?"
Hey,

Can you guys make a Service Provider in your package for us to reference so we don't have to do that custom stuff for the migrations? https://laravel.com/docs/5.3/packages#migrations

[2016-12-02 21:35] Kehet opened #260 "Eager loading users"
Currently without any config, ``$product->revisionHistory`` is loading all users related separately.
Since my project have many users editing many products, it would be nice to being able to eager load all related users using ``$product->load('revisionHistory.userResponsible');`` or something like that

.. or maybe it already is possible and this is just documentation issue

[2016-12-10 13:42] oliverpool commented on #152
If I'm not mistaken, this issue has been fixed by https://github.com/VentureCraft/revisionable/pull/156

[2016-12-10 20:17] oliverpool opened #262 "Revisions Limit - Custom cleanup policy"
I think it would be nice to have a custom policy to clean old revisions.
For example, I would like to delete revisions that are older than 6 months.

Maybe it is possible to change the interpretation of the value of [`$revisionCleanup`](https://github.com/VentureCraft/revisionable/blob/803c61d488d7132487a8f46f5b7de62a0e7bf4ce/src/Venturecraft/Revisionable/RevisionableTrait.php#L164):
- If `$this->

[2016-12-11 19:37] VeeeneX commented on #259
It's not good idea, sometimes you want to modify it :)

[2016-12-14 11:41] arvind132 commented on #238
I have tried with the above code using Actinarium diff, for me its showing error Class 'Actinarium\Diff\Renderer\Html\InlineRenderer' not found, could you please guide me on this. how to do make this work?

[2016-12-14 11:55] thorerik commented on #238
make sure you use dev-master of actinarium/php-diff, outside of that you're on your own I'm afraid

[2016-12-14 12:32] thorerik commented on #255
@GraveStone I got it in a (mostly) vanilla Laravel 5.3 install, what are you doing and how is it failing?
Have you run the necessary migrations?
Have you added the trait to your model?

@naveensnayak you shouldn't use an instance of DB but update it via your models.

eg.
[code]
this should add a revision to your table.

[2016-12-14 14:42] arvind132 commented on #238
Thanks, Now its working, Still I want to enhance that, how could we able to compare the different dates of revision for the same content?

[2016-12-14 14:56] naveensnayak commented on #255
@thorerik - I debugged the code and figured that out - it would be nice to mention this in the documentation as there are many ways to update the table. We have a mix of old code that does not use models

[2016-12-15 06:22] thorerik commented on #255
@naveensnayak I thought it was pretty obvious since you're adding it to your eloquent models that you should use the models to update the rows. If you think there's something to be desired in the docs you can probably open a PR, I'm sure VentureCraft is more than happy to accept.

[2016-12-15 22:07] NestorAcevedo opened #263 "Tracking only when $revisionCreationsEnabled is set to true"
Hi all,

I am using this package on laravel 4.2 for auditing some tables. Many of auditing is related to track all including creations (inserts) some others only for updating.

I am trying to make a new Model can be tracked only for updates but when I update my table (from web obviously) revisionable doesn't fire anything, but if I enable $revisionCreationsEnabled to true, it tracks inserted  rows

[2016-12-16 11:05] nhg2016 opened #264 "SQL Server support"
Will this package with an SQL server database?

Thanks,

Nhg

[2016-12-16 12:33] thorerik commented on #264
Since it's using Eloquent it should function with any database backend that Eloquent supports.

[2016-12-16 12:39] jakub-klapka commented on #264
But be aware of some quirks, which are more related to msssql driver for Laravel. Most painful is the one, which will throw fatal error, when you try to change more than one attribute of Model. You can look for quickfix here: https://github.com/jakub-klapka/revisionable/commit/0c539809b4ec71ce30cbc11c7a502d1ea2394906

Maybe revisionable could do saving via Eloquent models, instead of `DB::table()-

[2016-12-22 12:55] arielkung commented on #260
+1

[2016-12-23 09:42] divdax commented on #158
I fixed the problem with laravels setAttribute like so:
[code]

[2016-12-23 09:42] #158 closed

[2016-12-29 20:25] lipsticknvodka opened #266 "Undefined property: Illuminate\Database\Eloquent\Collection::$revisionHistory"
I followed the installation instructions and I can see that my DB is updating with the revisions, but when I go to display them on my history page, I am receiving this error : Undefined property: Illuminate\Database\Eloquent\Collection::$revisionHistory

//model
class Account extends Model
{
    //
    use \Venturecraft\Revisionable\RevisionableTrait;

    protected $revisionEnabled = true;
...}

[2017-01-04 05:18] sglavach commented on #118
Having this same issue... is there an easy way to avoid this?  Would think this would be easy to add as an option underneath the covers.

Thanks!

[2017-01-04 22:06] eleftrik opened #267 "$revisionCreationsEnabled only tracks created_at"
Hi, I just installed revisionable in a Laravel 5.3 project.

In my models I set `$revisionCreationsEnabled = true`. When I create a record (through Eloquent), only key `created_at` gets stored in the revisions table.
Shouldn't it save any model property?
If my model has 3 properties, let's say `$name, $description, $state`, when I create a record I'm expecting to see 3 rows (3 keys) in the `revisi

[2017-01-04 23:03] Pes8 commented on #267
Same issue here using laravel 5.2 & revisionable 1.28.

[2017-01-07 01:13] astierler commented on #267
This could be an enhancement/additional option, but that is the expected behavior.

When I've used it/tracked revisions in the past, I can assume that that the "created_at" indicates when it was created, and then any revision after that is a modification.  My revert functionality will take the current record and traverse backward down the revisions to get to the "original".

I agree that that is e

[2017-01-21 08:12] M0H3N opened #268 "format numbers"
Hi
I have some  fields  in table that contains numeric values  how do I format it to meaningful names  :
for example :
 1 => foo,
 2 => bar ,
and so on

[2017-02-15 12:27] mocheaz commented on #260
+1

[2017-02-17 15:01] eaverdeja opened #270 "Can't get identifiableName of foreign key relationship"
Hey Chris,

I have two models, Task and Status:
[code]

And i'm looping through the history just like in the docs:

[code]

However, i'm still getting the foreign key values in `$history->oldValue()` and `$history->newValue()`.
For ex. 'John changed status_id from 1 to 2'.

Where have i gone wrong? Thanks in advance!

ps. cool package

[2017-02-22 04:31] astierler commented on #270
Just to be sure, are you saying the revision history for Status is showing status_id? Are you expecting the status field to show the actual status name/a field from the relationship?

If so, `status_id` showing up is the correct behavior (as that is the actual record in the database that is changing).  I have extended the Revisionable class inside of some of my projects to include pre + post save

[2017-02-22 05:25] astierler commented on #268
Currently not supported. Will look into implementing this either through a Model variable or hook on v2

[2017-02-22 12:04] eaverdeja commented on #270
Yes, i was expecting $history->newValue() and $history->oldValue() to trigger the identifiableName() method overwritten in the Status model, given that the actual value thats updated (status_id) is a foreign key. However, identifiableName() is never triggered :(

At least thats what i got of the docs...

note: i am NOT following laravels naming conventions for foreign keys! The code snippet i post

[2017-02-23 12:58] Machecek commented on #49
I have created pul which i think handles what you are asing for...

https://github.com/VentureCraft/revisionable/pull/271

[2017-02-26 12:47] Machecek commented on #270
Any progress on this issue? I'm also curious

[2017-02-28 05:18] northkode commented on #255
I have some code that is not updating my revisions table either..

here is the sample code

[code]

[2017-03-02 14:46] sherbastian commented on #270
Same here!

[2017-03-08 08:13] barryvanveen commented on #233
Hi @naveensnayak,

Yeah it is working with Laravel 5.3 for me.

Laravel 5.4 also seems to work but you have to change the events in a slightly different way than described in the readme:

[code]

[2017-03-08 18:29] NestorAcevedo opened #272 "Revisionable recording only created_at on save"
Hi there,

I am using this package for recording changes on some models. Many of them are recorded when is created or updated, but I have a specific model which is not recorded at all, only created_at field.

My class model (Codigo) looks like this:
`

    use \Venturecraft\Revisionable\RevisionableTrait;
    protected $table = 'codigo';
    protected $revisionEnabled = true;
    protected $revisi

[2017-03-08 18:56] NestorAcevedo commented on #272
Duplicated of [https://github.com/VentureCraft/revisionable/issues/267](https://github.com/VentureCraft/revisionable/issues/267)

[2017-03-08 18:56] #272 closed

[2017-03-08 18:59] NestorAcevedo commented on #267
I have created -and closed- [this](https://github.com/VentureCraft/revisionable/issues/272) issue because I didn't see this other.

If is needed to record all fields it could be done overriding _boot_ method and using the static _saving_ or _saved method_ to create a new record in revisions table.

[2017-03-09 05:18] lloy0076 commented on #263
@NestorAcevedo - forgive me for asking, but isn't that what the documentation actually says the package should do?

[2017-03-09 16:29] NestorAcevedo commented on #263
No, $revisionCreationsEnabled as what I understand will record creation date. I have forgotten to close this issue. I have to "override" static _boot_ method on each model that I need to log.

[2017-03-09 16:29] #263 closed

[2017-03-15 15:31] KharChin commented on #181
I write this" php artisan make:model Post --migration"
it show this
 [RuntimeException]
The "--migration" option does not exist.
what is wrong? someone plz help me.

[2017-03-16 03:34] astierler commented on #181
@KharChin not really related to this project, but which Laravel are you running?

Try checking `php artisan make:model --help` to see if the migration option is even there.  It may not have been added until a later version if you are on an older one. (I ran the same command with no issue).

[2017-03-16 20:26] lloy0076 opened #273 "Revisionable with Non-Integer (Long) Column"
I have a table where the revisionable_id is NOT an integer and is specifically a `varchar(100)`; so when revisionable goes to make an entry in the revision table, Laravel (I happen to be using it this way) throws this:

[code]

Version:

[code]

I can't really ignore that key as it *is* the primary key and currently am reverting to simply not keeping the table under revision control for the moment

[2017-03-18 07:04] KharChin commented on #181
Dear astierler, thank you. I got this. I use laravel 5.0. > php artisan make:model Post . I write this. It in now ok.

[2017-03-18 21:19] MicroDroid opened #274 "Protect user abuse with approved revisions"
We should ideally have some sort of a field such as `$needsApproval` that can be set to true so that revisions are only stored/kept when a moderator or author accepts the revision.

Something like this:

- A **separate table that holds revisions**, called `unapproved_revisions` or something
- In that table, we have some sort of a timestamp or something so that we **keep track which changes came fi

[2017-03-20 07:55] jakub-klapka commented on #274
I think, that this should be in separate package. Majority of revisionable users won't use that in my opinion. And it sounds like lot of logic and changes in data structure.

[2017-03-20 07:59] joshbrw commented on #274
I agree with @jakub-klapka, this sounds like quite bespoke functionality that could belong in a fork. I believe the main reason behind Revisionable is to keep an entity audit log, and this new workflow doesn't really fit that requirement.

[2017-03-20 12:03] MicroDroid commented on #274
Sounds just about right. Thus I'll create my own of revisionable so that it includes that feature

[2017-03-20 12:03] #274 closed

[2017-03-20 22:01] astierler commented on #273
@lloy0076 can this be alleviated by modifying your revisions table?  In most cases, I can imagine this wouldn't be an issue - so wouldn't make sense to change the schema for everyone?

Can you try modifying the DB schema on your revisions table to change the column type/size of revisionable_id, and let me know if there are any issues going forward?

In projects where I've used UUID's (never for pr

[2017-03-20 22:24] lloy0076 commented on #273
@astierler - changing it to a text involved two things (which I evilly did with phpMyAdmin and not migrations :P):

1. Altering the column type for revision_id to text(512);
2. Altering the index currently called `revisions_revisionable_id_revisionable_type_index` to have a length of 64 (because I think 64 is sufficient index).

I tested:

1. Adding a change - this worked;
2. Undoing a change - th

[2017-03-21 12:25] #257 closed

[2017-03-26 18:00] danielfiltereasy commented on #164
I have another scenario that this would help to resolve.  We have three different Auth guards depending on web (customer) vs. api vs. admin (user).  The current behavior of getSystemUserId() simply pulls the default guard set in the config('auth.defaults.guard') and there is no way to override this.  Since our default guard is customers, user initiated revisions are stamped with a user_id=null.

[2017-03-27 08:29] joshbrw commented on #164
I'd suggest the way that this should be solved is by setting a `$userProvider` during boot which is responsible for providing the current User.

[2017-03-29 09:44] kevinmrpvision opened #275 "Is it possible to retrieve revision of all model at one place?"
I want to show revision logs on a admin dashboard. So, is there any good way to achieve that

[2017-04-06 09:32] lasselehtinen commented on #270
I have similar case with a model that has relationship to another model twice using different foreign keys. And indeed, the identifiableName method on the product is not working in either case, it just returns the id.

[code]

[2017-04-07 09:54] phuongphally opened #276 "Method userResponsible does not exist."
In laravel 5.4  I used
     $history = $article->revisionHistory;
         // dd($history);

           dd($history->userResponsible());

and got message errors

BadMethodCallException in Macroable.php line 74:
Method userResponsible does not exist.

[2017-04-10 14:01] divdax opened #277 "Question: Revisions for Pivots?"
It is possible to handle revisions for pivot entries?

[2017-04-12 18:54] rafael-franca opened #278 "Revisionable and UUID"
**System**
SO: Windows Server 2012 R2
WampServer 3.0.6 (PHP: 7.0.10, Apache: 2.4.23, MySQL: 5.7.14)

Laravel version: 5.4.18
UUID (webpatser/laravel-uuid) version: 2.0.1
Revisionable version: 1.28.0

**Problem**
When I can access any page, receive this error:

`Trait method boot has not been applied, because there are collisions with other trait methods on App\User`

I think it has something to do

[2017-04-24 08:16] divdax commented on #32
Any news?

[2017-04-24 08:37] joshbrw commented on #32
Or you could use a trait that overrides the `belongsToMany()` like I've had to do

[2017-04-28 14:17] koichirose commented on #108
Sorry if I bring this up again. I wanted to add some columns to the revisions table (specifically, an IP address), so I thought to use Laravel's model events (observers), but I noticed that RevisionableTrait is simply performing an insert() so no model events are fired.

I can't listen to the events mentioned here ('revisionable.saved') and perform an additional query (update) to add the IP addres

[2017-05-11 15:06] monove commented on #32
@Antonimo can you share your manual version with us?

[2017-05-14 15:14] majweb opened #282 "How display all revisions in div from the same time?"
If a have 3 revisions fields: weight,height, bmi and when I update them its create 3 reviosions in same time. How dispaly all reviosions at same time?.

example:
25.04.2017
------------
all reviosns

[2017-05-14 15:22] joshbrw commented on #282
You could group by the `created_at` column of the revisions.

[2017-05-14 15:54] majweb commented on #282
Could you show me how?

[2017-05-17 11:59] Cyrille37 commented on #267
This issue can be closed, isn't it ?

[2017-05-19 06:35] rjvim commented on #123
@torrobinson Hi, Is there a package/code you shared anywhere which has the above implementation? Thanks.

[2017-05-19 07:06] ellej16 commented on #123
Seconding @rjvim 's inquiry, perhaps create a PR for  (or have Revisionable work with) the feature you implemented? Sounds like a mighty good feature to have @torrobinson .

[2017-05-19 14:04] torrobinson commented on #123
Hey @rajivseelam and @ellej16 - sorry but this was years ago, so I don't recall the specifics, but it wasn't something really in a state clean enough to PR in or release to the world. In fact the project was cancelled a few months later... :(

However, generally I right before what I would define as a "batch" of changes (scope up to you), I'd create a new `RevisionBatch` row in my database, take t

[2017-05-19 15:11] ellej16 commented on #123
@torrobinson - sure! the idea makes sense (approving a change before applying said change) so we'd love to see the snippets if you may.

Also, is the `table_key` column on the `revisions` table refer to the `id` of the specific record that is to be updated?  if so, why are there two rows which have blank/null values? does having it blank mean anything? Genuinely curious.

Thanks!

[2017-05-19 16:14] torrobinson commented on #123
Hey @ellej16,

Those weren't my exact column names, but yes you'd have something refer to the key within the table you're affecting - they're blank when `revision_type` is `insert` because on an insert, you wouldn't have or know the PK it's going to be assigned yet and so there's not much you can do with that column

[2017-05-22 02:35] #186 closed

[2017-05-27 20:20] astierler commented on #282
@majweb here's an example, which will group it out by date (using Eloquent) and then display the items by time:

[code]

Example output:

**27.05.2017**
 - 03:55 pm: modified password on User 2

**26.05.2017**
 - 08:43 pm: modified flags on Partner 1
 - 08:43 pm: modified flags on Partner 1007
 - 08:43 pm: modified flags on Partner 5

[2017-05-27 20:21] #282 closed

[2017-05-28 22:56] RezRazi commented on #278
Having a similar issue with the same setup.
Any tips ?

[2017-06-05 12:09] rafael-franca commented on #278
@RezRazi No tips. The error persists. I have changed to **Laravel Auditing**. Only need change this in the migration file.

Comment this line:
[code]

Add theses lines:
[code]

[2017-06-06 22:37] RezRazi commented on #278
I was able to find a fix to that issue, add this to your model that has both `UUIDS` and `Revisionable`

`    public static function boot()
    {
        parent::boot();
    }`

[2017-06-09 16:49] comdexxsolutionsllc opened #284 "revisionable creates duplicate revisions in the database"
revisionable creates duplicate revisions in the database

How do I fix this?

[2017-06-11 08:49] bambamboole commented on #260
+1 I have got the very same problem.

[2017-06-12 08:41] Dartanjan commented on #210
Is anyone working on this perhaps, or is it on the roadmap somewhere?

[2017-06-16 21:58] dakshhmehta commented on #123
I have done this similar type of thing in past and working good. Opened a merge request, meanwhile maybe have a look at modified trait and you should be good to go.

Feel free to ask anything in implementation, will be happy to help

[2017-06-21 05:45] larsbo opened #286 "how to skip revision creation in some cases?"
Is it possible to skip the creation of a revision? For example if a specific value or user id has been detected?
I thought about using an event but there only exist post revision creation events so far.

[2017-06-21 06:07] larsbo commented on #286
Ok, I found a solution without events. For anybody who needs to make additional checks before creating a revision:

- inside your model change
[code]
to
[code]
- add new methods `postSave`, `postCreate` and `postDelete` to your model. Inside them you can check model data and call the original trait methods if needed by using the renamed trait functions `parentPostSave`, `parentPostCreate` or `pare

[2017-06-22 22:01] codeitlikemiley opened #287 "can you use this for multi auth? having multiple user tables?"
dont know if this can be use for multiple users

lets say i have a user model, employee model, and client model...

is this hard coded to be use only for a user model or this is using polymorphism

for the person who revision it? where you can associate different model to it?

[2017-06-22 22:22] codeitlikemiley commented on #287
after digging some code i found out that

userResponsbile method has this...
[code]

so it really wont work out of the box since

you are getting only the users providers,

if i do multi auth i will havemultiple providers so this wont work

[code]

Any Work Around On This?

[2017-06-22 22:39] codeitlikemiley commented on #77
bump this please 👍

[2017-06-23 09:56] astierler commented on #284
@comdexxsolutionsllc  can you post a basic example of code where this is happening?

Could you possibly have some logic that is processing a save twice?  This may be happening without you realizing, but only just now noticed because of duplicate revision entries.

I've never ran into this using it across various projects, so curious what could cause this

[2017-06-25 20:07] amouillard commented on #260
+1

[2017-06-27 14:41] S-Kis commented on #270
I got a (bad) workaround for the issue with multiple foreign keys. Maybe it helps others, maybe i got helpful feedback for a better solution.

I've written a history method in my DepartmentsController to display all revisions grouped by the created_at timestamp. The `parent_id` in this case is the wanted foreign key.

[code]

It's possible to add more `if ($item->key == "foreign_key_id")` statemen

[2017-06-30 08:12] divdax opened #288 "Create revisions on updating a model"
Hey,

i think when a models is updated via the update() method a revision should be created for every item when i run e.g.
[code]

currently only a revision i created when i save one model.

[2017-07-05 11:48] pr4xx commented on #260
+1000

[2017-07-11 04:15] NestorAcevedo opened #289 "Paginating revisions"
Hi all. I was proving some methods to paginate results from revisionable models. As I didn't see anything I use the following method on each revisionable model:

`
public static function revisions(){
return \Venturecraft\Revisionable\Revision::where('revisionable_type', get_class());
}
`

And I call it later as `$revisions = MyModel::revisions()->paginate(10):`

I hope if someone is looking for so

[2017-07-11 16:25] rogeel commented on #233
Laravel 5.4

public function boot()
    {
        parent::boot();

        Event::listen('revisionable.*', function($model, $revisions) {
            // Do something with the revisions or the changed model.
            dd($model, $revisions);
        });

        //
    }

[2017-07-11 17:12] mstone121 opened #290 "Support for multiple schemas"

[2017-07-25 10:49] christophezei opened #292 "User model"
Package isn't working with my user model that extend authenticable , i want to log daily activity of my employees.any help to build my history i dont want to use trigger .
thank you in advance

[2017-07-25 10:50] christophezei commented on #292
Authenticatable*

[2017-07-25 14:48] naveensnayak commented on #292
can you show some code ?
is your User model including the revisionable trait ?
package isnt working - what is not working ? - do you gt an error or revisions are not being created ?
what activity are you trying to log ?

[2017-07-25 20:06] christophezei commented on #292
Problem solved , but it works only with register controller , i need to log everything related to the mobile app  user how can i do that.

[2017-07-28 11:44] blomdahldaniel commented on #260
This is definitely a thing! +1

[2017-08-02 07:57] pr4xx commented on #58
+1

[2017-08-24 14:22] niladam commented on #275
You might want to use the search before asking questions. Have a look at #85, #243

[2017-08-28 15:46] ragingdave commented on #259
IMHO, Any modification necessary should be pulled out into a config which also can be put into the Service Provider and the package as needed. I would +1 for a service Provider

[2017-08-29 17:15] robjbrain opened #293 "Doesn't seem to handle DB::raw() properly"
Just installed revisionable and it seems to through an error when using `DB::raw()` which returns an instance of `Illuminate\Database\Query\Expression`

For my particular use case you may say don't do it this way, but I wanted to increment two columns in one query, $model->increment() would cause two queries. So I was doing this:

[code]

The error that's given is:

On this line:

https://github.c

[2017-08-29 17:24] robjbrain commented on #293
Just done some more testing, I think I see a bit better now some of the problems with DB::raw(). For instance if you do something like this to change an articles `description` column to be the same as it's `title` column then it throws an error:

[code]

This is because the sql generated looks like this:

[code]

And you'll get an error:

Revisionable doesn't seem like it's setup to handle this so

[2017-08-31 08:42] aauerswald commented on #287
Any solution for this or workaround without changing the code?

providers' => [
        'users' => [
            'driver' => 'eloquent',
            'model' => App\Models\Frontend\User::class,
        ],
        'admins' => [
            'driver' => 'eloquent',
            'model' => App\Models\Backend\Admin::class,
        ],
],

[2017-09-13 09:09] ctf0 opened #294 "duplicated result in view"
[code]

[code]

![screen shot 2017-09-13 at 10 55 05 am](https://user-images.githubusercontent.com/7388088/30369098-9d08bba4-9873-11e7-9c9e-1b1f0e975d20.jpg)
![screen shot 2017-09-13 at 10 55 18 am](https://user-images.githubusercontent.com/7388088/30369099-9d1a1b4c-9873-11e7-9df2-26d644004ce4.jpg)

as you can see , we have more than one `Declanfort` with the same info, not sure if this is a bug o

[2017-09-14 19:22] chriscalip commented on #257
@nayzawoo why was this closed? was it solved? how was it solved?

[2017-09-14 19:45] stillflame commented on #278
Same setup as you @rafael-franca . Rezrazi's comment which is indicated in the docs worked for me.

[2017-09-25 15:58] mdanro opened #295 "How to override the user_id"
Hello
I am facing a small issue regarding the Revisionable package, i know and understand that this is the behavior by design and i am searching for a workaround:

I am storing revisions of the User Model in a standard Laravel 5.5 implementation.
The problem i am facing is that both
**Confirm Account** and **Reset Password** account are external operations on guest middleware therefore the user_id

[2017-09-25 17:07] lmartins opened #296 "Any plans to support UUID"
Is there any plans to support models that use UUID as the primary key?

[2017-09-25 17:40] joshbrw commented on #296
Hey @lmartins, check out the fork of revisionable I made to solve this exact problem; https://github.com/joshbrw/revisionable-uuid

[2017-09-25 17:43] lmartins commented on #296
Hi @joshbrw, I've actually seen that, although feels like instead of a fork this should should be merged into the main repo, unless the original authors are not maintaining the repo anymore.

[2017-09-27 19:40] runonce86 commented on #104
I know this is very old but what was the conclusion? The user model can be known by Revisionable as @anggras already shown. It would be useful to have `userResponsible()` defined as a relationship, this would enable eager loading the user instance for example.

[2017-10-04 09:31] robindirksen1 commented on #288
Any progress with this issue?

[2017-10-08 22:32] runonce86 opened #297 "Misspelled path in documentation"
At the end of the [installation guide](https://github.com/VentureCraft/revisionable#installation) there is a note that recommends copying the migration file to your app if you are going to refresh your database often:

`cp vendor/venturecraft/revisionable/src/migrations/2013_04_09_062329_create_revisions_table.php app/database/migrations/`

The migrations path is not `app/database/migrations` but

[2017-10-09 10:21] lephleg opened #298 "Set database connection"
Hello! Terrific package, working great on even L4!

I'd like to ask if there is an easy way to set the database connection for the revisions to be stored.

My main db is a MySQL but I'm afraid it wont be able to handle the mass number of revision that are going to be created so I was thinking to move the revisions table to something more performant like MongoDB using its laravel package.

Any thou

[2017-10-09 15:08] lephleg commented on #298
Well I tried to define a separate database connection with a MongoDB instance on the Revisionable trait but it seems that it conflicts with my model (Report) with uses the primary MySQL.

[code]

[2017-10-11 07:06] scottybo commented on #296
@joshbrw Do you have updated instructions on how to use your updated version? The readme remains the same as the old version

[2017-10-11 07:55] joshbrw commented on #296
@lmartins As far as I can remember it's very similar to the installation of the the original except for namespace changes. If you have any problems installing it create an issue over at the fork - I've enabled them now 😄

[2017-10-13 07:53] Autsider666 commented on #298
I'm having the same issue.
#249 Seems to give a working chance for this problem (dating 2016), but hasn't been merged (yet).

[2017-10-16 10:36] scottybo commented on #296
@joshbrw Great!

What are your plans with keeping it updated inline with this repo?

[2017-10-19 18:39] EmanueleCoppola commented on #287
Any news on this?

[2017-10-20 10:11] #294 closed

[2017-10-25 23:32] Skintillion opened #301 "Laravel 5.5"
Any issues on this for Laravel 5.5?

[2017-10-26 09:54] darron1217 opened #302 "Add Support on 'enum' type on $revisionFormattedFields"
Yeah, it's truely needed :)

[2017-10-26 11:52] maarten-v opened #303 "History check happens also for tables where revisionEnabled = false"
Our sites get pretty slow with the plugin because there are tables which get updated very frequently and where we disabled revisions.
But in the postSave function the history check happens before there is a check if  revisionis is enabled for that table.
I think you could better check first if it is enabled and then do the history check.

[2017-10-28 09:15] robindirksen1 commented on #270
@astierler any progress with this issue on how to use relationships between models?

[2017-11-11 20:47] khalilst opened #305 "Multiple Update, Multiple SoftDelete, Hard Delete, Many To Many relation issue"
Revisinable isn't working with below commands:

`User::whereIn('id', [1,2,3,...])->update(['some_field' => 'some_value']); //Multiple Update`
`User::whereIn('id', [1,2,3,...])->delete(); //Multiple soft-deleteThe User is soft-deletable`
`User::find(1)->roles()->sync([1,3,5,...]); //Many to Many Relations`

Also it would be nice to record hard-delete in revisions table.
I record revision for all ab

[2017-11-15 15:10] andrechalom commented on #301
I'm currently using this library in a Laravel 5.5 application, and no version-specific issues have appeared.

[2017-11-17 02:20] ts5h commented on #295
I faced same issue too.
I solved like below.

Example:
[code]

[2017-11-18 06:03] comdatia commented on #292
I am having what I think is the same issue on the User model as the UserTrait is colliding with the RevisionableTrait.

Here is the error message that I am getting is:

Symfony\Component\Debug\Exception\FatalErrorException thrown with message "Trait method boot has not been applied, because there are collisions with other trait methods on App\User"

Stacktrace:
#0 Symfony\Component\Debug\Exception

[2017-11-21 15:50] andrechalom commented on #270
Ran into the same problem. I'm using non-standard names for the foreign keys as well, and Revisionable does not seem to have a way around this.

To clarify, the problem arises from around here: https://github.com/VentureCraft/revisionable/blob/1b7c48b63b558f5112bdd510708ce726afdff2f9/src/Venturecraft/Revisionable/Revision.php#L137-L146

This works great if your database table has, say, a "product_

[2017-11-21 16:05] andrechalom commented on #277
If anyone else stumbles into this issue, check @astierler answer in Stack Overflow here: https://stackoverflow.com/questions/36920857/laravel-log-revisions-for-many-to-many-relationships

[2017-11-21 17:53] andrechalom commented on #270
OK, I've ended up forking Revisionable and changint the getRelatedModel function to

[code]

Now I can declared `public $relatedModels = ['revisionable_relation_id' => 'relationName'];` in my model, and this is picked up by Revisionable. I hope someone finds this helpful too ;)

[2017-12-04 10:47] Perturbatio commented on #185
@astierler in https://github.com/VentureCraft/revisionable/pull/258#issuecomment-271775300 you mentioned implementing meta already in another way, is there any chance you'll be adding that option to the package?  Or make revisionable modifiable in such a way that it can be added as a separate package?

[2017-12-07 20:49] astierler commented on #185
@Perturbatio yes, I'll resume putting together a new major version this month/in January at latest (in middle of move now) - which will allow pre and post hooks to modify data/records going into DB per model, if that seems like the best way (allows the most customization) - just need to think of how to address the schema of this going forward if any changes are done there!

[2017-12-28 22:04] Skintillion commented on #301
Thanks!

[2017-12-28 22:04] #301 closed

[2018-01-06 10:55] fico7489 commented on #305
@khalilst  how you propose to track hard-deletes?

[2018-01-06 10:59] khalilst commented on #305
Tracking hard delete indicates a user with an ID delete a record with an ID
and specific type.
I think it could be useful.

On Jan 6, 2018 2:25 PM, "Filip Horvat" <notifications@github.com> wrote:

[2018-01-06 11:07] fico7489 commented on #305
yes of yours it would be useful but I am asking how you think to save this?

You have this schema

[code]

what should we put in revisionable_type, revisionable_id, old_value and new_value fields for hard delete ?

[2018-01-06 11:21] khalilst commented on #305
All fields similar to creating a record except key to 'id' for example and
old_value to current id and new_value to null.

On Jan 6, 2018 2:37 PM, "Filip Horvat" <notifications@github.com> wrote:

[2018-01-16 09:47] rzaglinskij opened #308 "leave revisions when model row removed"
it is possible to leave revisions information when the model row was removed? for history purposes

[2018-02-06 04:13] mkudenko opened #309 "Revision notes"
Is there a way to add notes to revisions? Otherwise it may be hard to tell why a particular change was made.

Thank you.

[2018-02-09 22:32] FSElias commented on #276
Hello guys, I am facing the same message with
       dd($history->userResponsible());

any help is appreciated.

[2018-02-27 17:32] JoshZA commented on #256
{
        if (class_exists($class = $this->revisionable_type)) {
            $traits = class_uses($class);
            if(isset($traits['Illuminate\Database\Eloquent\SoftDeletes']))
                return $class::withTrashed()->find($this->revisionable_id);

            return $class::find($this->revisionable_id);
        }

        return false;
    }

[2018-03-04 19:16] scottybo commented on #296
any updates on this?

[2018-03-04 20:36] rjp2525 commented on #296
Since this package is now obviously unmaintained (and untested), I've moved all of my stuff over to [owen-it/laravel-auditing](https://github.com/owen-it/laravel-auditing). It's far more customizable, has extensive documentation and was very easy to integrate UUIDs - you literally just [change the migration file](http://laravel-auditing.com/docs/6.0/audit-migration). Might be ideal if you're just

[2018-03-15 08:56] DanDvoracek commented on #288
Hitting the same issue. Any thoughts ?

[2018-03-15 17:10] steros opened #310 "support partitioned tables - PartitionedTable trait"
As tables can get possibly very large, how about supporting partitioned tables?

[2018-05-04 17:30] parker-codes opened #314 "Throws error in tests"
Base table or view not found: 1146 Table 'DatabaseName.revisions'

Because the migrations are run via a separate command and they aren't being pulled in directly, there is no way to run tests that have the Illuminate\Foundation\Testing\RefreshDatabase trait (I am using in-memory testing connection, so it creates the fake db, runs migrations, and seeds).

My solution for now is to copy the package

[2018-05-09 07:28] molerat619 opened #315 "Get ID of last created revision"
Hey there - thanks for this great module!

When I save a model, a revision is created right after that. What's the best way to get that revision's ID (or the whole revision)?

I have read in the Docs that I could use an event listener but I was wondering if there was an easier way. Like in Laravel when you create an item, you will get it returned as a result.

Another option would be to make a que

[2018-05-09 08:52] molerat619 commented on #315
One issue that I am facing now using the event listener is that other events are fired before the `revisionable.*` and the listeners of those events make changes to models as well. That results in getting the wrong model and revisionable in the listener for the `revisionable.*`.

[2018-05-09 12:00] molerat619 commented on #277
Is there a solution to this yet?

[2018-05-09 12:14] molerat619 commented on #63
any news 4 years later?

[2018-05-11 08:45] molerat619 opened #316 "Understanding Relationship behavior"
When a related database entry is updated, do I only get a revisionable for that entry or also for the "parent"?

Example: I have an `Order` and it has many `OrderItems`. Now when one of those OrderItems is updated, will Order also get a revisionable?

[2018-05-13 20:36] ceejayoz commented on #206
For the record (and anyone searching and finding this like I did), I was able to resolve this by running the query `SELECT setval('revisions_id_seq', max(id)) FROM revisions')` to reset the sequence on the `revisions` table's `id` column.

[2018-05-30 12:44] enterlight-metro commented on #314
Same problem here.  No easy way to test with models that have RevisionableTrait using DatabaseMigrations trait

[2018-06-06 20:14] stueynet commented on #277
This would be amazing.

[2018-06-17 11:51] acacha commented on #284
Same problem here and still looking for a solution...

[2018-06-17 12:08] acacha commented on #284
Ok in my case it seem I have added to my model booth the Trait RevisionableTrait and extends Revisionable:

[code]

[2018-06-17 12:13] acacha commented on #284
ping @comdexxsolutionsllc @astierler

[2018-06-21 08:52] stfr commented on #310
It would be very nice to define a $revisionTable property on each model (if needed)

[2018-06-26 13:39] marlongichie opened #317 "Option to Publish Migration file"
Since the migration file does not reside in the "migrations" folder, running `artisan migrate:refresh` produces `Migration not found:`.

So, all other migrations will run normally, but migration for this package will have to be run "independently" for this package.

Should be cleaner no???

[2018-06-30 04:37] astierler commented on #284
@acacha yes, that'd do it.  The "Revisionable" Model is there for legacy Laravel support where the traits wouldn't work.  @comdexxsolutionsllc if you did the same thing, definitely try just using the trait.

Thanks for pointing out a possible solution @acacha

[2018-07-09 15:06] djave-co opened #318 "Using Revisionable with morphMaps doesn't work"
When I use this package as stated in the docs, my morphMaps are ignored. I have the following in my `AppServiceProvider`:

    Relation::morphMap([
        'users' => 'App\Artixy\Models\User',
        'arts' => 'App\Artixy\Models\Art',
    ]);

This means that in the database, revisionable saves off values like so:

[code]

Note that it is saved as **users**, not App\Models\User. How can I amend t

[2018-07-12 14:02] jayzyaj opened #320 "Laravel 5.5 revision not creating revisions"
Version of **revisionable** : `"venturecraft/revisionable": "^1.28",`
**Laravel version**: 5.5

Here is my **model**

[code]

Any thoughts on this?

[2018-07-12 14:05] jayzyaj commented on #288
Same with me on 5.5

[2018-07-13 14:31] jayzyaj commented on #318
What laravel are you using. It didn't work on Laravel 5.5 for me

[2018-07-13 14:32] jayzyaj commented on #315
Hi I used this package but it is not working on my laravel 5.5 project. Any thoughts?

[2018-07-13 14:33] jayzyaj commented on #314
Hi I used this package but it is not working on my laravel 5.5 project. Any thoughts?

[2018-07-13 21:11] jpark00 commented on #288
The package actually doesn't catch the Eloquent update events, so it doesn't know to create a revision during an update. You can get around this by "overriding" the trait and including the events:

`

    class YourModel extends Model {
        use RevisionableTrait {
            bootRevisionableTrait as protected unused;
        }

        .....

        //Override trait function
        public s

[2018-07-23 10:33] ultrono commented on #316
I've just tried a simple example - a user and status model i.e.a user has an arbitrary status.

Within my status model I've added the following so the status name displays within the user revision history:

[code]
If I update the user model revisions are created as expected.

If I update only the status model a revision for the status model only is record.

The user revisions history is also essen

[2018-07-23 10:42] ultrono commented on #309
This appears to be bit of an edge case imo and should not be part of the package.

If you really need to do this, create a migration to add a column to the revisions table. Of course you'd need some form of UI to update that column from within your app though.

If you want to automatically add comments or send off some notification to say admins to add change comments, you can use events.

The pac

[2018-08-02 13:11] felixpenrose commented on #320
In 5.6 I have the following, which works.

[code]

Using your code with `use Venturecraft\Revisionable\RevisionableTrait;` and `use RevisionableTrait;` I still get a revision, however only 1 which is constantly overwritten, whereas what I have does create a new revision each time.

[2018-08-02 15:44] joshlewis commented on #317
Strongly agreed. This just threw my team off for almost half an hour, trying to figure out why some of us had the table and some of us didn't, even though everyone had run `php artisan migrate`.

[2018-08-06 12:22] realtebo opened #322 "How to save initial state when creating?"
I see how to enable logs of creations.

But in the row with 'created_at'  there is no 'old_value' and 'new_value' is a datetime, why?

in this case I expect the json of the new record in this field

[2018-08-06 12:24] realtebo opened #323 "Unable to make it work with n-n pivot tables"
I cannot figure how log events for records in the pivot table.

I m starting using your package because is so easy. But how can I tell laravel to use your code when using a n to n relation table?

[2018-08-20 09:11] djave-co opened #324 "morphMap doesn't work with revisionable"
Thanks for a great product. I'm having an issue which I don't think is covered in the docs and may be a bug.

My AppServiceProvider has the following in the `boot()` method:

    Relation::morphMap([
      'users' => 'App\MyApp\Models\User',
    ]);

This works great across the entire app, except for Revisionable which gives me the following error:

How can I make this work?

[2018-08-28 18:25] julienmiclo opened #325 "Multiple table"
Hello,

i can't find how make one table revisions for each model ? Or how change table name revisions in model ?
example: `users -> user_revisions; posts -> post_revisions;`

Thank you;

[2018-10-26 16:38] monove opened #329 "Double revisions inserted on Eloquent model `created` event"
Hi,
Any idea why I'm getting 2 revision inserts for a `save()` during an Eloquent model `created` event.
Each of the revision inserts includes the value of *every single attribute* set during model *creation*, not just of the `some_var` set in this event.
Here's my code (simplified for this post):
[code]

[2018-10-26 23:51] gemilaguinaldo opened #330 "adding events in eventServiceProvider causes Class hash does not exist"
a beginner here using the package. as said in the documentation, you need to add a code to your eventServiceProvider.php but after adding it and replacing the * sign to (created, saved, deleted) (i have used created), error "Class hash does not exist".

[2018-11-05 04:00] parularkratos opened #331 "I have one table Order & another table Order Required Documents which is one to many relationship. In Order required Documents Table there are multiple records for One Order. If I change One Record in second table, How can I get the Revision of that ??"

[2018-11-08 23:51] #322 closed

[2018-12-05 01:31] venux92 commented on #288
Any news on this issue? I have the same issue on Laravel 5.7

[2019-01-16 10:29] jishnu2292 opened #332 "Disable undo in revision"
How can we disable the undo button in revision history?

[2019-01-17 15:43] astierler commented on #330
@gemilaguinaldo you may want to check anything calling or listening on those events/elsewhere. There is no reference to "hash" anywhere in the code -- and only references to the Hash command are inside of tests files only.. so something else may be interfering.

Perhaps look at your stack trace or debug your application to find out where it's happening.

[2019-01-17 15:43] #330 closed

[2019-01-20 09:00] t0n1zz opened #333 "eager load revision from revision_type field model"
Hi, i want to do eager load to related into model that have revision in revisionable_type field, so for example i have revisionable_type is App\Report and inside the App\Report there is some foreign key for company_id. So i want to only load all revision for revisionable_type of App\Report where the company_id is a1000

how to do that? in normal eloquent model i can easily do eager loading and put

[2019-01-30 19:21] jadamec commented on #325
What's the reason of it? Simply use `revisionable_type` for filtering.

[2019-02-01 13:35] joris-vercammen-cali commented on #332
The easiest is probably to overwrite the blade template and remove it there.

[2019-02-01 15:00] jishnu2292 commented on #332
if composer update?

[2019-02-01 15:02] joris-vercammen-cali commented on #332
I mean, copy the file to your own directory and overwite it from there, we're using this package with backpack and I've copied to file to `/resources/views/vendor/backpack/crud/inc` and edited it there. If there are changes to this file in the future, we just have to read the backpack logs very carefully.

[2019-02-02 09:05] jishnu2292 commented on #332
Thank you. Its working....

[2019-02-02 09:06] #332 closed

[2019-02-03 12:55] jadamec opened #334 "How to get revision's ID in events?"
Hi there,
how to get revision's ID in event, please? I mean in the func below, $revisions doesn't contain specific ID from database... Thanks
[code]

[2019-02-08 04:03] nbraiyani opened #336 "How to get userResponsible() in laravel passport api"
Hello,

I can't find how to use this revisionable package with laravel api using passport. I can't get user_id of login user in api

Thank you;

[2019-02-09 10:36] dormadekhin opened #337 "Fields from json"
Is it possible to display changes for fields that are in json column in db?

[2019-02-11 10:37] FlashWS commented on #302
+

[2019-02-12 22:59] deltoss opened #338 "Backpack Integration Doesn't Work"
When using this package via the Backpack [revisions](https://backpackforlaravel.com/docs/3.4/crud-operation-revisions) feature with recent versions of backpack, it'd always put "User Guest changed the...", instead of getting the correct responsible user.

![image](https://user-images.githubusercontent.com/9282390/52673680-904aa180-2f75-11e9-95b3-e56c8ea8699b.png)

From scanning through the `revisi

[2019-02-13 09:27] chintankotadia opened #339 "all revision"

[2019-02-13 09:27] #339 closed

[2019-02-14 12:36] lihusha opened #340 "Is there a possibility to add a revision for model object deleting if this model do not use SoftDelete?"

[2019-03-02 02:45] poldiwa commented on #233
some things dont work on laravel 5.8

[2019-03-02 03:00] poldiwa opened #341 "Support for Laravel 5.8"
some things dont work on laravel 5.8

[2019-03-15 14:07] ultrono commented on #338
At the moment the package would put up on the model specified within any of the following configs: `àuth.model`and `auth.providers.users.model`.

I'd be surprised if Revisionable decided to support your specific package though.

However, on the flip side, they have supported Sentinel auth.

Failing that, you could try overriding the `userResponsible()`method.

[2019-03-18 14:35] ultrono commented on #341
Has this project been abandoned by the owner? Lots of PR's open and the last commit was in August 2018. If the author has abandoned it it would good to have the repo. marked as such. I gather there are a lot of people in my situation i.e. wanting to upgrade to Laravel 5.8, but are prevented from doing so by revisionable :/

[2019-03-18 15:15] AceWT commented on #341
I would suggest https://github.com/spatie/laravel-activitylog as an alternative to revisionable.

[2019-03-18 18:24] mavci commented on #58
+1

[2019-03-21 10:58] ultrono commented on #341
Package is confirmed as abandoned by the owner: https://github.com/VentureCraft/revisionable/pull/321#event-1763615107

[2019-03-22 14:51] #341 closed

[2019-04-02 23:53] neoacevedo commented on #287
mmmm I am just in the same situation and I see no one knows the workaround :/

[2019-04-03 00:21] EmanueleCoppola commented on #287
@neoacevedo I actually made a fork of this. Just a workaround, a little bit dirty but that works. You can take inspiration if you want to.

https://github.com/Libreidee/revisionable-multiauth

[2019-04-03 01:08] neoacevedo commented on #287
@EmanueleCoppola I will check for it.

[2019-04-11 12:34] armen9494 opened #346 "Call to undefined method Illuminate\Events\Dispatcher::fire() in Laravel 5.8"
It looks like fire method needs to be changed

https://laravel.com/docs/5.8/upgrade

deprecated and removed

Events The fire Method

*Likelihood Of Impact: Low*

The fire method of the Illuminate/Events/Dispatcher class has been removed. I think would be used dispatch method instead.
Can this be fixed by "user", or this change needs to be made in package?

[2019-04-12 19:24] bztrn commented on #341
I solved it manually. I am not sure that it is right way but it works now.

Change all declarings that contain :

\Event::fire("something else...")
-------------------to --------------------------------------------------
\Event::dispatch("something else...")

on RevisionableTrait.php

[2019-04-12 19:24] bztrn commented on #346
I solved it manually. I am not sure that it is right way but it works now.

Change all declarings that contain :

\Event::fire("something else...")
-------------------to --------------------------------------------------
\Event::dispatch("something else...")

on RevisionableTrait.php

[2019-04-13 10:59] ultrono commented on #346
Package is confirmed as abandoned by the owner: https://github.com/VentureCraft/revisionable/pull/321#event-1763615107

[2019-04-20 22:56] #338 closed

[2019-04-24 00:18] logan-jobzmall commented on #329
I am having a similar issue. However, if I use the boot method in my model, revisionable doesn't work at all. To get it working, I have to use this call `static::bootRevisionableTrait()` in my boot method. At that time, it inserts 2 records at a time.

[code]

[2019-04-24 09:55] legitalk commented on #331
Same issue...

[2019-04-30 08:17] leeovery opened #348 "Maintained or not?"
Hey

Is this still maintained? I think a lot of people land here and are confused.

A clear yes or no would be super helpful and appreciated.

It’s totally understandable if time is limited etc. I appreciate you open sourcing this in the first place.

If it’s unmaintained perhaps someone could take over? I’d considered taking a look if I decide to use the package.

Thanks!!!!
Lee

[2019-05-15 12:21] robjuz commented on #336
I'm facing the same problem.
My workaround:

[code]

[2019-05-24 00:35] Slivicon commented on #348
Package is confirmed as abandoned by the owner: https://github.com/VentureCraft/revisionable/pull/321#event-1763615107

[2019-05-24 00:37] Slivicon commented on #346
Looks like @duellsy
 did merge PR for this https://github.com/VentureCraft/revisionable/pull/347

[2019-05-28 02:38] duellsy commented on #346
Can confirm, I'll close off this PR

[2019-05-28 02:38] #346 closed

[2019-06-06 22:25] PauZoffoli commented on #340
same question

[2019-07-10 23:50] dani2191 commented on #270
@andrechalom
Thanks, that helped me. Just for future reference, because I didn't get t at first:

`public $relatedModels = ['custom_foreign_key_name' => 'eloquent_relationship_method'];`

So in my case I had this relationship between an Establishment and an EstablishmentType:
[code]
[code]

[2019-07-18 14:48] parrotsoft opened #350 "Conversion failed when converting the nvarchar value in SQL Server"
Hello,  I have the following error when trying to update a record, and that this register in the history.

`SQLSTATE[22018]: [Microsoft][ODBC Driver 11 for SQL Server][SQL Server]Conversion failed when converting the nvarchar value '08:13' to data type int. (SQL: insert into [revisions] ([created_at], [key], [new_value], [old_value], [revisionable_id], [revisionable_type], [updated_at], [user_id])

[2019-07-22 16:09] parrotsoft commented on #336
Hello @nbraiyani try adding the following in the "Revision" model

`class Revision extends Model
{

    protected $with='user';

    public function user(){
        return $this->belongsTo('App\User'); //Namespace as appropriate
    }
}
`

[2019-07-22 16:14] parrotsoft commented on #264
Hello @thorerik How are you doing with the implementation in sqlsrv? ami generates me an error when I make changes in more than one field.

[2019-07-31 12:20] stemount commented on #210
I'm trying to figure out what is going on with the development of this @JimmyBastos @Dartanjan because I want to use this in a number of my projects!

[2019-07-31 20:40] JimmyBastos commented on #210
@stemount, I don't now if i'ts the best way to handle json fiels. I've just sent a quick fix that i made in a fork of this project on @sensorial-dev/revisionable repo.

[2019-08-07 16:24] CarterBland commented on #350
I am seeing this issue as-well, would love to see a fix for it!

[2019-08-16 09:31] tabacitu commented on #348
I thought so too. But there [have been updates recently](https://github.com/VentureCraft/revisionable/commits/master), even added support for Laravel 6.0. Which I was VERY glad to see.

@duellsy it would be interesting to know if you consider the project **abandoned** (no more maintenance) or **locked** / **feature-complete** (maintained, but not planning on adding any extra features).

Even if yo

[2019-08-19 00:19] duellsy commented on #348
It's something that due to work commitments I'm unable to be all over, but it's also something that I come back to sporadically. I know that isn't something that fills people with confidence, so in that light, it would be great if someone wanted to help with the maintenance etc?

[2019-08-19 16:48] tabacitu commented on #348
Good enough for me! Thanks again.

I personally already have my plate full, I'm afraid. But I'll try to find someone to help you out, and send them here.

Cheers!

[2019-08-30 13:49] parrotsoft commented on #350
@CarterBland Hi, do you have any solution for this?

[2019-09-03 14:09] ethanransdellrarebird opened #352 "Add laravel/framework ^6.0 dependency"
It looks like illuminate/support ^6.0 was added but not laravel/framework

[2019-09-03 14:10] CarterBland commented on #350
@parrotsoft Hey, I don't have any solutions for this, so I had to remove revisions for the model that was throwing the error. I'm sure I can figure it out, but I haven't had time. I'll put this in my to-dos.

[2019-09-03 19:38] #352 closed

[2019-09-06 11:34] gio00 opened #355 "Change array_get to Arr::get"
Hi, i got an error because inside `RevisionableTrait` and `Revisionable` model the function `array_get` is used but it has been removed from Laravel 6.0 so it's probably better to use the class equivalent `Arr::get`.

Thanks.

[2019-09-06 13:37] ethanransdellrarebird opened #356 "Replace deprecated array helper method"
Methods such as array_get are deprecated

[2019-09-09 21:39] awjudd opened #358 "Replace deprecated string helper functions"
Similar to #355 #356 , the Str:: helpers will need to be used as well instead of the functions.

[2019-09-10 13:28] JoshuaDoshua commented on #340
@lihusha, @PauZoffoli  example use-case? Not sure how that would even look in an app?
Deleted (not soft) means gone forever, if you need to track deleted_at you should be using softDeletes. I think maybe you're wanting a global activity/events log (for ex: https://github.com/spatie/laravel-activitylog ).

[2019-09-10 13:33] JoshuaDoshua commented on #329
@monove
I think it is because you are calling `save` inside of `::created`. `created` occurs _after_ a save, and then you save again. The revisionable trait hooks into multiple events in the lifecycle, but you might want to try `self::creating` and get rid of `->save()`.
Or, if you've already figured this out, feel free to close this issue out! :)

[2019-09-11 11:55] barter27293 commented on #338
For anyone else struggling with this - I got it working by altering the `getSystemUserId()` function in the file \vendor\venturecraft\revisionable\src\Venturecraft\Revisionable\RevisionableTrait.php

Im a bit of a noob when it comes to php... but the below seems to work:

[code]

I hope that helps!

[2019-09-13 19:44] Junior-Shyko opened #359 "How do you implement JWT authentication?"
I have an api coming from an ionic mobile request and I need to get the user id, but revisionable only supports Sentinel, Sentry and Auth only.
I tried to make some implementations, but to no avail. can you help me?

[2019-09-23 12:54] mtilokani opened #360 "Call to undefined function array_get()"
Hi @duellsy , I just on today installed package. And I have included trait file and make use of that trait in User model, but it is giving me following error:

`Call to undefined function Venturecraft\Revisionable\array_get()`

Could you please help me.

[2019-09-23 15:49] ethanransdellrarebird commented on #360
There is a PR open for this
https://github.com/VentureCraft/revisionable/pull/357

[2019-09-23 16:05] mtilokani commented on #360
@ethanransdellrarebird yes, thanks, but if could be merged to master branch then would be great to update via composer.

[2019-09-23 21:21] duellsy commented on #356
Closed in #357

[2019-09-23 21:21] #356 closed

[2019-09-23 21:22] duellsy commented on #355
Closed in #357

[2019-09-23 21:22] #355 closed

[2019-09-23 21:22] duellsy commented on #360
Closed in #357

[2019-09-23 21:22] #360 closed

[2019-09-23 21:23] duellsy commented on #358
Closed in #357

[2019-09-23 21:23] #358 closed

[2019-09-24 06:15] mtilokani commented on #360
Hi @duellsy @ethanransdellrarebird I have re-installed a package but I am still facing a same issue.

[2019-09-25 02:16] #348 closed

[2019-09-25 03:24] duellsy commented on #360
@mtilokani If you do a `composer update` you should pull in 1.32.0 which will have these updates.

[2019-09-25 03:25] #315 closed

[2019-09-25 03:26] duellsy commented on #324
closed in PR #326

[2019-09-25 03:26] #324 closed

[2019-09-25 03:26] duellsy commented on #318
closed in #326

[2019-09-25 03:26] #318 closed

[2019-10-22 11:50] adiafora commented on #340
Is it a fundamental decision not to keep the deletion fact? I think it's still possible to save the information. Model, ID, user, deleted entry. At least something ))

[2019-10-23 15:49] adiafora opened #362 "I want to add a new value output format"
How can I push a branch?

Added the output format for values - "options".

Analogous to "boolean", only any text or numeric values can act as a source value (often flags are stored in the database). The format allows you to specify different outputs depending on the value.

`options: search.On the search|network.In networks`

Look at this as an associative array in which the key is separated from

[2019-10-23 16:08] #362 closed

[2019-10-23 16:08] adiafora commented on #362
I figured it out, I'm sorry :))

[2019-11-20 13:01] sozonovalexey commented on #292
The same issue

[2019-12-06 20:51] Rasoul-Karimi opened #366 "lumen"
hi
can i use this package on laravel lumen?

[2020-01-21 19:50] juventus18 commented on #350
check your model castings and try casting `leave_yard_time` to string

[2020-02-05 20:13] alihastam commented on #289
Thank you so much my friend . I used it.

[2020-02-22 12:02] tobytwigger opened #368 "Automatically merge/load config and migrations"
I'm trying to use the `revisionable` package in another package I'm developing. I'm running into a problem because `revisionable` requires the config and migrations to be published before it can work.

Since `revisionable` is running in a package environment, I'm having to override the default service provider, copy the migrations/config to my package and merge them from there since the vendor fol

[2020-03-06 08:43] blazing1 opened #370 "revisionable_type integer support"
hi we want to store revisionable_type integer because of field indexing.
 Is any kind of feature there?

[2020-03-23 18:14] jrbecart opened #373 "Request to allow eager load for old_value and new_value"
I have a page that display all the changes made by a user.
For this use case I added the following enhancement to speed considerably my revision page.

I  created a model extending \Venturecraft\Revisionable\Revision and added some relation like:
[code]

And in GetValue function from \Venturecraft\Revisionable\Revision.php I added this:

[code]

Finally I load my revisions like this:
[code]

This

[2020-04-16 03:15] sblawrie commented on #303
I second this. I have a field that is **_not_** included in `$keepRevisionOf`, yet when I update it, a call is still made to look up the revision history before doing nothing. This can cause hundreds of unexpected queries to be issued when I'm updating lots of objects. Should I submit a PR to fix, or is there a reason for this functionality that I'm not aware of?

[2020-05-18 05:08] mrcheeks commented on #277
Is this (v2.0) happening?

[2020-05-24 15:43] fico7489 commented on #267
same here

[2020-07-09 11:53] SuperlativeEntity opened #374 "identifiableName for fields that don't end with _id"
Is it possible to get the identifiableName for a field name "represented_by" for example?

It's an older database and the field can't be renamed.

[2020-07-12 11:34] Christianlauw123 opened #375 "Revision Limit for Model"
I'm new with revisionable and i want to ask about, is it posible that revision limit affect the model not the specific data ?.
For example what i though now about revisionable
 $user = User::find(1);
 with revision limit, will limit only the user with ID 1 revision

What if i have 10 User and total revision for that user bigger then limit, how to achieve this goal.

Thanks before

[2020-07-25 16:12] Prophe1 commented on #267
still exists

[2020-08-13 13:33] adeiming opened #376 "Event::dispatch error when event extension enabled in php7.3-fpm"
this problem occurs when i enable event extension in php 7.3-fpm.
the error that appears is:

`Call to undefined method Event::dispatch()`

Please help.

[2020-08-18 07:29] alan-smith-be commented on #338
Hello,

for information :

I've suggested this patch :
https://github.com/VentureCraft/revisionable/pull/377

KR

[2020-09-01 12:44] Ignas2526 opened #378 "Better support for key-value table"
When you have table that stores key-value pairs, it would be nice if you could store the value from the key column and not the actual column. I would also like to change the revisionable_id. Reason for this is if key-value pair row gets deleted it is impossible to trace back the value origin.

**Example**
For example there's the ArticleSetting model and article_settings table that has following co

[2020-09-08 08:09] duellsy commented on #366
it is not built for lumen, but you are welcome to install and test it out

[2020-09-08 08:09] #366 closed

[2020-09-08 08:13] #350 closed

[2020-09-08 08:13] #359 closed

[2020-10-19 14:12] sebas1208 opened #384 "Ability to change created_at date for testing"
First, I want to say thanks for the library, it has been really helpful in our project :clap:

I was wondering if there is a way to change the `created_at` for testing?

When you are testing sometimes is useful to create a revision at a certain point in time (e.g in the past). In my case, I have a query that relies on the created_at. And I want to create multiple revisions on different days in the

[2020-12-27 11:35] patrickcurl commented on #376
@adeiming Namespacing the classes referenced fixed this for me.
see: https://github.com/VentureCraft/revisionable/pull/386

You could just copy that to App\Traits\RevisionableTrait and it should work until the PR is instituted.
I believe php 7.3 has it's own Event class so \Event is referencing that not Illuminate\Support\Facades\Event, for good measure I just namespaced Revisionable, DB, and Even

[2021-01-22 10:56] robjuz commented on #323
I ended up with something like this:

You create create your pivot table with an id

[code]

You create a model class for this
[code]

Now the most stupid part. You can no longer user ```$user->attach($post)``` because this will not trigger the saved event of the PostUser class.

You need to create this entry manually

[code]

Looking for better solution :(

[2021-01-25 06:55] robjuz opened #387 "release 1.36"
The current master is 10 commits ahead the last release. It includes one feature a would love to use. Could you tell me when can we expect the 1.36 release?

[2021-01-26 15:15] subdesign opened #388 "Disable system wide on specific projects"
I have a composer package which handles users. I use this in an admin project, where I have to manage user revisions.
But I use this package in a frontend project, where I need the above mentioned User model, so I have to install revisionable, but this time I don't need revisions, how to set (if possible) system wide `protected $revisionEnabled = false;` dynamically, maybe at boot time?

Of course

[2021-01-29 13:52] Fokuslight opened #389 "identifiableName() doesnt work with model User"
Hi all, I use version Laravel 8, and all models where I've used the function identifiableName() Ive got a result, but in case with User model, this method doesnt work. I tryied to do dd() inside function
[code]

So, this was ignored. So I had to make the next actions in Train:

[code]

Anybody knows whats the reason?

[2021-02-08 19:17] jameswagoner commented on #387
@duellsy Could we get a new release added?

[2021-02-14 00:34] duellsy commented on #387
Thanks for the poke, a new release has been tagged as 1.36.0

[2021-02-14 00:34] #387 closed

[2021-02-22 13:12] afraca commented on #388
(I was browsing randomly here)
Probably too late but we have a Laravel app that's the specific website (frontend), and it uses our in-house admin package. The admin package has a user model, but the app always uses its own User model extending from admin package. You can then change the property in your app User model.

[2021-03-03 14:20] #388 closed

[2021-03-16 20:26] Niekto350 commented on #260
:+1: Plus there is a duplicate with workaround described here: https://github.com/VentureCraft/revisionable/issues/58

[2021-04-08 14:05] mellester commented on #270
@andrechalom your fork seem like a good fix

[2021-06-27 11:16] nobulk opened #396 "additional fields not beeing stored when Storing Creations"
when storing creations (protected $revisionCreationsEnabled = true;) additional fields will not be added to the newly created revision.

[2021-08-03 05:58] koushik355 commented on #287
Any update here? Same problem.

[2021-08-03 06:08] koushik355 opened #397 "Supporting multiple auth"
Hi, thank you for such a wonderful package. Definitely made life a lot easier.
I've multiple auth in my application.

`'providers' => [
        'staff' => [
            'driver' => 'eloquent',
            'model' => App\Models\Staff::class,
        ],

        'users' => [
            'driver' => 'eloquent',
            'model' => App\Models\User::class,
        ],

        // 'users' => [

[2021-08-12 17:13] EricBusch commented on #334
@jadamec I was wondering the same thing. How did you resolve this?

Thanks!

[2021-08-12 17:23] jadamec commented on #334
Oh well, it's years ago.. I made a custom solution without using this package at all.

[2021-08-12 17:25] EricBusch commented on #334
@jadamec Nice! Thanks for getting back to me!

[2021-08-27 19:09] mahmoudmohamedramadan opened #400 "Nothing happens when I try to save instance from `Comment` model"
I was would like to work WITH this awesome package into the Laravel project WITH an `8.40` version and PHP WITH an `^8.0` version. I've installed this package successfully and migrated the table

![{6E512FF6-4247-4940-9A2E-1FCBE4DFE649}](https://user-images.githubusercontent.com/48416569/131176498-5c76d738-8667-42ef-a403-7b579f8a3cf2.png)

also, I've used the `RevisionableTrait` trait in the `\App

[2021-09-07 06:13] antoniputra commented on #400
if you are talking about storing revision for recently created model.

You need to enable this:
[code]

See more:

https://github.com/VentureCraft/revisionable#storing-creations

[2021-09-07 10:32] mahmoudmohamedramadan commented on #400
@antoniputra thanks... it's working now ✨

[2021-09-07 10:32] #400 closed

[2021-09-13 19:20] commadelimited opened #401 "Explicitly providing `user_id` to Revisionable"
My company uses a 3 tiered system for our web application:

1. Front end - client layer
2. Middle layer (composes requests, provides validation and authentication) - accessible by the front end
3. Backend - where all the database requests are made, not accessible by the front end

In addition we have a SOA architecture which separates parts of our application. For example, the accounts API is comp

[2021-09-21 20:15] commadelimited commented on #401
Ping?

[2021-09-27 19:51] commadelimited opened #402 "Revisionable not creating revision entries for belongsToMany relationships"
I have a `Product` model and a Category model. The `Product` model has a `belongsToMany` relationship with `Category`

[code]

When I save a Product I get the expected results of records inserted into the revisions table. However I'm also like to see records inserted when categories are added or removed. How would I accomplish this given that `product_category` doesn't have it's own model?

[2021-09-28 13:29] commadelimited opened #403 "Revisionable is largely abandonware – look elsewhere"
After initial success looking into using Revisionable I realized that there were open issues from 2014, and very few recent updates. I d g some more and discovered that the author had accepted a commit (#321) which indicated that this package was abandoned.

Another user suggested trying [Laravel Auditing](https://github.com/owen-it/laravel-auditing), which is much more robust, has greater support

[2021-11-23 09:39] kiddtang commented on #77
Anticipate seeing this enhancement! 👍

[2021-12-25 14:57] priyankmaniar commented on #403
@commadelimited I so regret not reading your comment sooner. Thank you for your recommendation. Laravel Auditing looks like an excellent replacement for this one.

[2022-02-22 13:29] Taelkir commented on #402
I know from your [other issue](https://github.com/VentureCraft/revisionable/issues/403) that you aren't looking into this package anymore, but if anyone else comes looking, here's a SO answer with a possible work around for this missing functionality: https://stackoverflow.com/a/37952887/10228954

[2022-04-04 17:09] akc4 opened #411 "More documentation around identifiableName()"
Can we get more documentation around `identifiableName()`

In my revision_history it still shows the id's of my Model instead of the actual value even after adding.

[code]

 Thanks

[2022-04-24 10:50] MohammadTabbaby opened #412 "so i tried created this fuction to return 'meta', anyone knows how to access [key] => date_achat"
public function gethistory($reference)
    {
        $Equipement = Equipement::where('reference', $reference)->first();
        //$historique = $Equipement->histories;
        //return($historique->meta);
        foreach ($Equipement->histories as $eq) {
            print_r($eq->meta);

![Screenshot 2022-04-24 114906](https://user-images.githubusercontent.com/96926242/164972808-7643583a-22c6-4876-

[2022-04-29 14:17] kkarayat opened #413 "DateTime object to json serialization"
In mongodb when storing datetime object it stores empty object

'created_at' => new \DateTime(),
'updated_at' => new \DateTime(),

Using PHP8 with mongo 5.0 and MongoDB extension version => 1.13.0

[2022-05-13 18:26] jtomek commented on #63
any news 3 years later?

[2022-05-18 01:22] #337 closed

[2022-06-07 18:38] DanielChavesSimao opened #414 "The article link in Readme.md is not working"
http://chrisduell.com/blog/development/keeping-revisions-of-your-laravel-model-data/

404

[2022-06-08 14:50] bLLRR commented on #411
+1

[2022-06-08 14:58] bLLRR commented on #389
I'm having the samen issue.

[2022-07-21 13:28] javadzanguei opened #416 "use in tables without integer primary key"
How to use revesionable package for tables without integer primary key? I have the following error:

**Invalid datetime format: 1366 Incorrect integer value: 'y' for column**

[2022-11-04 15:01] NomisGnos commented on #403
For anyone else looking at this... even Laravel Auditing (mentioned in the previous comment) is having issues being maintained.  If you  see https://github.com/owen-it/laravel-auditing it says in the README they don't have time.

[2022-11-22 09:55] christianschoenmakers commented on #260
Is this still not possible?